<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :channel_type %><br />
    <%= f.text_field :channel_type %>
  </div>
  <div class="field">
    <%= f.label :channel_frequency %><br />
    <%= f.text_field :channel_frequency %>
  </div>
  <div class="field">
    <%= f.label :channel_name %><br />
    <%= f.text_field :channel_name %>
  </div>
  <div class="field">
    <%= f.label :channel_profile_id %><br />
    <%= f.text_field :channel_profile_id %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :become_active_when %><br />
    <%= f.text_field :become_active_when %>
  </div>
  <div class="field">
    <%= f.label :allow_view %><br />
    <%= f.check_box :allow_view %>
  </div>
  <div class="field">
    <%= f.label :allow_post %><br />
    <%= f.check_box :allow_post %>
  </div>
  <div class="field">
    <%= f.label :allow_shift_trade %><br />
    <%= f.check_box :allow_shift_trade %>
  </div>
  <div class="field">
    <%= f.label :allow_view_covered_shifts %><br />
    <%= f.check_box :allow_view_covered_shifts %>
  </div>
  <div class="field">
    <%= f.label :allow_schedule %><br />
    <%= f.check_box :allow_schedule %>
  </div>
  <div class="field">
    <%= f.label :allow_announcement %><br />
    <%= f.check_box :allow_announcement %>
  </div>
  <div class="field">
    <%= f.label :allow_view_profile %><br />
    <%= f.check_box :allow_view_profile %>
  </div>
  <div class="field">
    <%= f.label :allow_comment %><br />
    <%= f.check_box :allow_comment %>
  </div>
  <div class="field">
    <%= f.label :allow_like %><br />
    <%= f.check_box :allow_like %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br />
    <%= f.check_box :is_public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
