<h1>Listing channels</h1>
<%= link_to 'New Channel', new_channel_path %>
<br />
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>type</th>
      <th>frequency</th>
      <th>name</th>
      <th>active</th>
      <th>requirement</th>
      <th>view</th>
      <th>post</th>
      <th>comment</th>
      <th>like</th>
      <th>public</th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.id %></td>
        <td><%= channel.channel_type %></td>
        <td><%= channel.channel_frequency %></td>
        <td><%= channel.channel_name %></td>
        <td><%= channel.is_active %></td>
        <td><%= channel.become_active_when %></td>
        <td><%= channel.allow_view %></td>
        <td><%= channel.allow_post %></td>
        <td><%= channel.allow_comment %></td>
        <td><%= channel.allow_like %></td>
        <td><%= channel.is_public %></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
