<%= stylesheet_link_tag "dashboard_announcements", :media => "all" %>
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="org_name" value="<%=@org_name%>" />
<input type="hidden" id="org_profile" value="<%=@profile_thumb%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="is_root" value="<%=cookies[:is_root]%>" />
<input type="hidden" id="is_admin" value="<%=cookies[:is_admin]%>" />
<input type="hidden" id="admin_location" value="<%=cookies[:user_location_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />

<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />
<div class="page-content">
  <!-- BEGIN NEW ANNOUNCEMENT MODAL -->
  <div id="new_announcement_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 740px;">
    <div class="scroller" style="height: 100%;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu2']['modalTitle']%></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <!--<a href="#new_announcement_option_modal" data-toggle="modal" class="btn btn-sm btn-default">
            <i class="icon-settings"></i> Advance Options</a>-->
            <label><input type="checkbox" checked="true" id="announcement_push"> <%=ENV_VARS['messages']['menu2']['modalCheckbox']%> </label>
          </div>
          <div class="form-group">
            <form action="/api/images/drop_image" class="dropzone" id="announcement-image-dropzone">
              <input type="hidden" id="image_type" name="image[image_type]" value="3" />
              <input type="hidden" id="image_org" name="image[org_id]" value="<%= cookies[:org_id]%>" />
              <input type="hidden" id="owner_id" name="image[owner_id]" value="<%= cookies[:user_id]%>" />
              <input type="hidden" id="is_valid" name="image[is_valid]" value="true" />
            </form>
          </div>
        </div>
      </div>
<form class="new-announcement-form" method="POST">
      <input type="hidden" id="announcement_image_id" value="" name="announcementImageId" />
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu2']['modalIEText1']%></label>
            <select name="newAnnouncementLocation" id="new-announcement-location" class="form-control select2"></select>
            <p class="hint"><%=ENV_VARS['messages']['menu2']['modalHint1']%></p>
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu2']['modalIEText2']%></label>
            <select name="newAnnouncementGroup" id="new-announcement-group" class="form-control select2"></select>
            <p class="hint"><%=ENV_VARS['messages']['menu2']['modalHint2']%></p>
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu2']['modalIEText3']%></label>
            <input class="form-control placeholder-no-fix" type="text" maxlength="140" placeholder="<%=ENV_VARS['messages']['menu2']['modalPlaceholderText1']%>" id="announcement_title" name="announcementTitle" />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu2']['modalIEText4']%></label>
            <textarea class="form-control placeholder-no-fix" rows="3" maxlength="4000" placeholder="<%=ENV_VARS['messages']['menu2']['modalPlaceholderText2']%>" id="announcement_content" name="announcementContent"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" class="btn btn-info" onclick="AnnouncementModule.previewNewAnnouncement();"><%=ENV_VARS['messages']['menu2']['modalButtonText1']%></button>
        <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu2']['modalButtonText2']%></button>
        <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu2']['modalButtonText3']%></button>
      </div>
    </div>
</form>
</div>
  </div>
  <!-- END NEW ANNOUNCEMENT MODAL -->

  <!-- BEGIN NEW ANNOUNCEMENT ADVANCE OPTIONS MODAL -->
  <div id="new_announcement_option_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Advance Options</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Group Name</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Group Name" id="group_name" name="groupname" />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Group Description</label>
            <textarea class="form-control placeholder-no-fix" rows="3" placeholder="Group Description" id="group_description" name="groupdescription"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" class="btn btn-success">Submit</button>
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <!-- END NEW ANNOUNCEMENT ADVANCE OPTIONS MODAL -->

  <!-- BEGIN CONFIRM DELETE ANNOUNCEMENT MODAL -->
  <div id="confirm_delete_announcement_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Are You Sure?</h4>
    </div>
    <div class="modal-body">
      <p>This action would not be reversible and statistics associated with this announcement will be lost.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" onclick="AnnouncementModule.deleteObj();">Confirm</button>
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END CONFIRM DELETE ANNOUNCEMENT MODAL -->

  <!-- BEGIN PREVIEW ANNOUNCEMENT MODAL -->
  <div id="preview_announcement_modal" class="modal fade" data-backdrop="static" style="max-height:95%">
    <div class="scroller" style="height:650px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Announcement Preview</h4>
      </div>
      <div class="modal-body" style="height: 526px;">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <!-- END PREVIEW ANNOUNCEMENT MODAL -->

  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
      <div class="caption">
        <i class="icon-earphones-alt font-green-haze"></i>
        <span class="caption-subject bold font-green-haze uppercase">
        <%=ENV_VARS['messages']['menu2']['title']%> </span>
        <span class="caption-helper"><%=ENV_VARS['messages']['menu2']['caption']%></span>
      </div>
      <div class="actions">
        <a href="#new_announcement_modal" data-toggle="modal" class="btn btn-sm green">
        <i class="fa fa-plus"></i> <%=ENV_VARS['messages']['menu2']['buttonText']%> </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <table class="table table-striped row-border table-hover" id="announcement_table">
            <thead>
              <th>
              </th>
              <th>
                <div class="caption font-green-haze">
                  <span class="caption-subject bold uppercase"> <%=ENV_VARS['messages']['menu2']['table1Col1']%></span>
                </div>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu2']['table1Col2']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu2']['table1Col3']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu2']['table1Col4']%>
              </th>
              <th>
                <!--Delete column-->
              </th>
            </thead>
            <tbody id="announcement_table_body">
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <table class="table table-striped row-border table-hover" id="newsfeed_table">
            <thead>
              <th>
              </th>
              <th>
                <div class="caption font-green-haze">
                  <span class="caption-subject bold uppercase"> <%=ENV_VARS['messages']['menu2']['table2Col1']%></span>
                </div>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu2']['table2Col2']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu2']['table2Col3']%>
              </th>
              <th>
                <!--Delete column-->
              </th>
            </thead>
            <tbody id="newsfeed_table_body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row main-content-div">
    <div class="col-md-12">
      <!-- BEGIN Portlet PORTLET-->
      <div class="portlet light">
        <div class="portlet-body">
          <div class="overlay">
            <div class="overlay-text">
              <%=ENV_VARS['messages']['menu2']['footerMessage']%> <i class="icon-arrow-up font-green-haze"></i>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 column" id="detail_col">
          </div>
          <div class="col-md-4 col-sm-12 column" id="preview_col">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
<script>
  var temp_img = null;
</script>
<%= javascript_include_tag "dashboard_announcements" %>

<script>
var AnnouncementTable = $('#announcement_table');
var NewsfeedTable = $('#newsfeed_table');

// DOM LOADING TABLE IMPL
var announcements_loaded = $.Deferred();
var newsfeed_loaded = $.Deferred();

var el = null;
jQuery(document).ready(function() {
  el = $('.main-content-div');
  App.blockUI({
    target: el,
    boxed: true,
    message: 'Loading...',
    overlayColor: '#223A44'
  });
  //App.init();
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  QuickSidebar.init(); // init quick sidebar
  Demo.init(); // init demo features
  ChartsAmcharts.init(); // init demo charts
  AnnouncementModule.init();
  FormDropzone.init();

  return $.Deferred(function (def) {

    // resolve the passed def
    // this is the callback when i.e. users_loaded.resolve() is called
    $.when(announcements_loaded, newsfeed_loaded).done(function() {
      Metronic.initUniform();
      def.resolve();
    });
  });

});


</script>