<%= stylesheet_link_tag "dashboard_locations", :media => "all" %>
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="is_root" value="<%=cookies[:is_root]%>" />
<input type="hidden" id="is_admin" value="<%=cookies[:is_admin]%>" />
<input type="hidden" id="admin_location" value="<%=cookies[:user_location_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />
<div class="page-content">

  <!-- START LOCATION -->
  <div id="location_addendum_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <form class="location-addendum-form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Missing Location Information</h4>
      </div>
      <div class="modal-body">
        <address>
          <strong><span id="add_line_1"></span></strong> 
          <br /><span id="add_line_2"></span>
          <br /><span id="add_line_3"></span>
          <br /><span id="add_line_4"></span>
        </address>
        <p class="hint">Some information is missing from the address we're able to pull from your input, you must enter them manually.</p>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Unit Number (optional)</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Unit Number (optional)" name="unitnumber" id="unitnumber" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Street Number</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Street Number" name="streetnumber" id="streetnumber" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Address</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Address" name="address" id="address" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">City</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="City" name="city" id="city" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Province/State</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Province/State" name="province" id="province" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Country</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Country" name="country" id="country" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Postal/Zip Code</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Postal/Zip Code" name="postal" id="postal" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
    </form>
  </div>
  <!-- END LOCATION -->

  <!-- BEGIN CONFIRM DELETE LOCATION MODAL -->
  <div id="confirm_delete_location_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Are You Sure?</h4>
    </div>
    <div class="modal-body">
      <p>If there are users currently assigned to this location, deleting it will cause them to become unassigned.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" onclick="LocationsModule.deleteObj();">Confirm</button>
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END CONFIRM DELETE LOCATION MODAL -->

  <!-- BEGIN UNIT NUMBER MODAL -->
  <div id="unit_number_modal" class="modal fade small" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Unit Number</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input class="form-control" placeholder="Unit Number" id="add_unit_number" type="number" data-tabindex="1">
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" id="add-unit-number" class="btn blue">Add</button>
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END UNIT NUMBER MODAL -->

  <!-- BEGIN NEW LOCATION MODAL -->
  <div id="new_location_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <form class="location-form" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu8']['modal1Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu8']['modal1IEText1']%></label>
          <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu8']['modal1PlaceholderText1']%>" id="pac-input" name="locationaddress" />
          <!-- DAVID ADDED -->
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu8']['modal1IEText2']%></label>
          <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu8']['modal1PlaceholderText2']%>" id="name-input" name="locationname" />
          <!-- END DAVID ADDED -->
          <div id="modal-unit-number" style="display: none;">
            <a data-toggle="modal" href="#unit_number_modal"><%=ENV_VARS['messages']['menu8']['modal1Text1']%></a>
          </div>
        </div>
        <p class="hint">
          <%=ENV_VARS['messages']['menu8']['modal1Hint1']%>
        </p>
        <div id="map-canvas" style="height: 188px;">
          
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu8']['modal1ButtonText1']%></button>
          <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu8']['modal1ButtonText2']%></button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.modal -->

  <!-- BEGIN bulk_edit_empty_modal MODAL -->
  <div id="bulk_edit_empty_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Bulk Edit</h4>
    </div>
    <div class="modal-body">
      <p>You must make at least one selection before bulk editing.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal">Okay</button>
    </div>
  </div>
  <!-- END bulk_edit_empty_modal MODAL -->

  <!-- BEGIN bulk_edit_empty_modal MODAL -->
  <div id="bulk_delete_empty_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Bulk Delete</h4>
    </div>
    <div class="modal-body">
      <p>You must make at least one selection before bulk deleting.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal">Okay</button>
    </div>
  </div>
  <!-- END bulk_edit_empty_modal MODAL -->
  <!-- END NEW LOCATION MODAL -->

  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row main-content-div" style="min-height: 500px;">
    <div class="col-md-12">
      <!-- BEGIN Portlet PORTLET-->
      <div class="portlet light" id="tabs">
        <ul class="nav nav-tabs nav-justified">
          <li class="disabled">
            <a href="#tab_locations" data-toggle="tab" class="uppercase bold">
            <i class="icon-pointer"></i> <%=ENV_VARS['messages']['menu8']['tabTitle1']%></a>
          </li>
        </ul>
        <div class="portlet-body">
          <div class="tab-content">
            <div class="tab-pane" id="tab_users">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#upload_user_select_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Bulk Actions <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="LocationsModule.editUsers();">
                          <i class="fa fa-pencil"></i> Edit </a>
                        </li>
                        <li>
                          <a href="#" onclick="LocationsModule.banUsers();">
                          <i class="fa fa-ban"></i> Ban </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped row-bordered table-hover" id="user_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input onclick="LocationsModule.toggleAll(this);" id="select_all_users" type="checkbox" class="group-checkable" data-set="#user_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Status
                          </th>
                        </tr>
                      </thead>
                      <tbody id="user_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
            </div>
            <div class="tab-pane" id="tab_invitations">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#upload_user_select_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Bulk Actions <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="LocationsModule.editInvitees();">
                          <i class="fa fa-pencil"></i> Edit </a>
                        </li>
                        <li>
                          <a href="#" onclick="LocationsModule.deleteInvitees();">
                          <i class="fa fa-ban"></i> Delete </a>
                        </li>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped row-bordered table-hover" id="invitee_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input id="select_all_invitees" onclick="LocationsModule.toggleAll(this);" type="checkbox" class="group-checkable" data-set="#invitee_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Invited On
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Actions
                          </th>
                        </tr>
                        </thead>
                      <tbody id="invitee_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
            </div>
            <!--<div class="tab-pane" id="tab_applications">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-child"></i>Applications
                  </div>
                  <div class="actions">
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Tools <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="LocationsModule.editApplications();">
                          <i class="fa fa-pencil"></i> Edit </a>
                        </li>
                        <li>
                          <a href="#" onclick="LocationsModule.approveApplications();">
                          <i class="fa fa-check"></i> Approve </a>
                        </li>
                        <li>
                          <a href="#" onclick="LocationsModule.rejectApplications();">
                          <i class="fa fa-times"></i> Reject </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped table-bordered table-hover" id="applicant_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input onclick="LocationsModule.toggleAll(this);" id="select_all_applicants" type="checkbox" class="group-checkable" data-set="#applicant_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Status
                          </th>
                        </tr>
                      </thead>
                      <tbody id="applicant_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>-->
            <div class="tab-pane" id="tab_groups">
              <div class="portlet">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#new_group_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="row" id="group_portlets">
                    <!--<div class="col-md-4 column" id="group_col_1">
                    </div>
                    <div class="col-md-4 column" id="group_col_2">    
                    </div>
                    <div class="col-md-4 column" id="group_col_3">
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane active" id="tab_locations">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#new_location_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> <%=ENV_VARS['messages']['menu8']['buttonMenuText1']%> </a>
                  </div>
                </div>
                <div class="portlet-body">
                <div class="row" id="location_portlets">
                  <div class="full-height-content-body" id="height-marker">
                  
                    <!-- DAVID: OLD IMPLEMENTATION -->
                    <!--
                    <div class="col-md-3 column" id="location_col">
                      
                    </div>

                    <div class="col-md-9 column">
                      <div id="location_map" class="location_map">
                      </div>
                    </div>
                    -->

                    <table class="table table-striped row-bordered table-hover" id="location_table">
                      <thead>
                        <tr>
                          
                          <th>
                            <!--DAVID: This column is for the id -->
                          </th>

                          <th>
                            <%=ENV_VARS['messages']['menu8']['table1Col1']%>
                          </th>

                          <th>
                            <%=ENV_VARS['messages']['menu8']['table1Col2']%>
                          </th>

                          <th>
                            <%=ENV_VARS['messages']['menu8']['table1Col3']%>
                          </th>

                          <th>
                            <!-- DAVID: This column is for the trash can icon -->
                          </th>

                        </tr>
                      </thead>

                      <tbody id="location_table_body">
                      </tbody>
                    </table>

                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_deactivated">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <!--<div class="actions">
                    <a href="#" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Tools <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#">
                          <i class="fa fa-trash-o"></i> Delete </a>
                        </li>
                        <li>
                          <a href="#">
                          <i class="fa fa-ban"></i> Ban </a>
                        </li>
                      </ul>
                    </div>
                  </div>-->
                </div>
                <div class="full-height-content-body">
                  <div class="portlet-body">
                    <table class="table table-striped row-bordered table-hover" id="deactivated_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input type="checkbox" class="group-checkable" data-set="#deactivated_table .checkboxes"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Status
                          </th>
                        </tr>
                      </thead>
                      <tbody id="deactivated_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_network">
            <!-- DAVID: I was working on this -->
              <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                  <table id="network_settings_table" style="width: 100%;">
                    <tr>
                      <td>Profanity</td>
                      <td>
                        <input type="checkbox" id="network_settings_profanity_switch" class="make-switch" data-on-text="&nbsp;Enabled&nbsp;&nbsp;" data-off-text="&nbsp;Disabled&nbsp;" />
                      </td>
                    </tr>
                    <tr>
                      <td>Secure Network</td>
                      <td>
                        <!-- Metronic generates the switch functionality when it sees the class "make-switch" -->
                        <input type="checkbox" id="network_settings_secure_network_switch" class="make-switch" data-on-text="&nbsp;Enabled&nbsp;&nbsp;" data-off-text="&nbsp;Disabled&nbsp;" />
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<!-- DAVID: This next line includes everything in the assets/javascripts/dashboard_locations.js file -->
<%= javascript_include_tag "dashboard_locations" %>

<script>
var UserTable = $('#user_table');
var InviteeTable = $('#invitee_table');
var DeactiveTable = $('#deactivated_table');
var ApplicantTable = $('#applicant_table');
var MassInviteTable = $('#mass_invite_table');
var LocationTable = $('#location_table');

// DOM LOADING TABLE IMPL
var locations_loaded = $.Deferred();

$("#tabs").tabs({
    activate: function( event,ui ) {
        if(ui.newTab.context.hash == "#tab_users") {
          $("#select_all_users").parent().removeClass("checked");
          $("#select_all_users").prop("checked", false);
          $("#user_table_body").find('[type="checkbox"]').each(function() {
              $(this).parent().removeClass("checked");
              $(this).prop("checked", false);
          });
          UserTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_applications") {
          ApplicantTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_invitations") {
          $("#select_all_invitees").parent().removeClass("checked");
          $("#select_all_invitees").prop("checked", false);
          $("#invitee_table_body").find('[type="checkbox"]').each(function() {
              $(this).parent().removeClass("checked");
              $(this).prop("checked", false);
          });
          InviteeTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_groups") {
          
        } else if(ui.newTab.context.hash == "#tab_locations") {
          LocationsModule.initMap();
        } else if(ui.newTab.context.hash == "#tab_deactivated") {
          DeactiveTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_network") {
          LocationsModule.networkTabRender();
        }
    }
});


var el = null;
jQuery(document).ready(function() {
  el = $('.main-content-div');
  App.blockUI({
    target: el,
    boxed: true,
    message: 'Loading...',
    overlayColor: '#223A44'
  });
  //App.init();
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  var h = $('#height-marker').parent().height();
  /*
  document.getElementById("location_col").style.height = parseInt(h/1.1)+"px";
  document.getElementById("location_col").style.overflowY = "scroll";
  document.getElementById("location_map").style.height = parseInt(h/1.1)+"px";
  **/
  QuickSidebar.init(); // init quick sidebar
  Demo.init(); // init demo features
  UIToastr.init();
  UIExtendedModals.init();
  PortletDraggable.init();
  LocationsModule.init();
  FormDropzone.init();

  return $.Deferred(function (def) {
    // resolve the passed def
    // this is the callback when i.e. locations_loaded.resolve() is called
    $.when(locations_loaded).done(function() {
      Metronic.initUniform();
      def.resolve();
    });
  });

});

</script>


