<%= stylesheet_link_tag "dashboard_quizzes", :media => "all" %>
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="org_name" value="<%=@org_name%>" />
<input type="hidden" id="org_profile" value="<%=@profile_thumb%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="is_root" value="<%=cookies[:is_root]%>" />
<input type="hidden" id="is_admin" value="<%=cookies[:is_admin]%>" />
<input type="hidden" id="admin_location" value="<%=cookies[:user_location_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />
<input type="hidden" id="new_quiz_type" value="14" />
<div class="page-content">
  <!-- BEGIN QUIZ TYPE SELECTOR -->
  <div id="quiz_type_select_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal1Title']%></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#new_quiz_modal" data-toggle="modal" class="icon-btn" onclick="$('#new_quiz_type').val(17);">
              <i class="fa fa-warning"></i>
              <div><%=ENV_VARS['messages']['menu4']['modal1subtitle1']%></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#new_quiz_modal" data-toggle="modal" class="icon-btn" onclick="$('#new_quiz_type').val(14);">
              <i class="fa fa-check-square-o"></i>
              <div><%=ENV_VARS['messages']['menu4']['modal1subtitle2']%></div>
            </a>
          </div>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal1ButtonText1']%></button>
    </div>
  </div>
  <!-- END QUIZ TYPE SELECTOR -->

  <!-- BEGIN NEW QUIZ MODAL -->
  <div id="new_quiz_modal" class="modal large fade" data-backdrop="static" data-keyboard="false" tabindex="-1" data-focus-on="input:first" style="height: 500px;">
    <div class="scroller" style="height: 100%;">
      <form class="new-quiz-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal2Title']%></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <!--<a href="#new_announcement_option_modal" data-toggle="modal" class="btn btn-sm btn-default">
                <i class="icon-settings"></i> Advance Options</a>-->
                <label><input type="checkbox" checked="true" id="new_quiz_push" > <%=ENV_VARS['messages']['menu4']['modal2Checkbox']%> </label>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal2IEText1']%></label>
                <input class="form-control placeholder-no-fix" type="text" maxlength="140" placeholder="<%=ENV_VARS['messages']['menu4']['modal2PlaceholderText1']%>" id="new_quiz_name" name="newQuizName" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal2IEText2']%></label>
                <select name="newQuizLocation" id="new-quiz-loc" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu4']['modal2Hint1']%></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal2IEText3']%></label>
                <div class="input-inline input-medium">
                  <input id="new_quiz_time_limit" type="text" value="15" name="newQuizTimeLimit" class="form-control">
                </div>
                <p class="hint"><%=ENV_VARS['messages']['menu4']['modal2Hint2']%></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal2IEText4']%></label>
                <select name="newQuizGroup" id="new-quiz-grp" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu4']['modal2Hint3']%></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal2IEText5']%></label>
                <div class="input-inline input-medium">
                  <input id="new_quiz_pass_mark" type="text" value="1" name="newQuizPassMark" class="form-control">
                </div>
                <p class="hint"><%=ENV_VARS['messages']['menu4']['modal2Hint4']%></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="caption">
                  
                </div>

                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-10" id="question_list">

                  </div>
                  <div class="col-md-1">
                  </div>
                </div>
                <input type="hidden" id="new_quiz_question_count" name="newQuizQuestionCount" value="0" />
              </div>
            </div>

            <div class="col-md-12" style="margin: 20px 0;">
              <div class="form-group">
                <center>
                  <a href="#new_question_modal" data-toggle="modal" class="add-new-question"><%=ENV_VARS['messages']['menu4']['modal2ButtonText4']%></a>
                </center>
              </div>
            </div>
          </div>
        </div>
         <div class="modal-footer">
          <div class="form-actions">
            <button type="button" onclick="QuizModule.previewQuiz();" class="btn btn-info"><%=ENV_VARS['messages']['menu4']['modal2ButtonText1']%></button>
            <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu4']['modal2ButtonText2']%></button>
            <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal2ButtonText3']%></button>
          </div>
        </div>
      </form>
    </div>
    <div id="bottom_of_quiz"></div>
  </div>
  <!-- END NEW QUIZ MODAL -->
  <!-- BEGIN NEW QUESTION MODAL -->
  <div id="new_question_modal" class="modal large fade" data-backdrop="static" data-keyboard="false" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 700px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal3Title']%></h4>
      </div>
      <input type="hidden" id="new_question_image_src" value="" />
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <form action="/api/images/drop_image" class="dropzone" id="quiz-question-image-dropzone">
                <input type="hidden" id="image_type" name="image[image_type]" value="3" />
                <input type="hidden" id="image_org" name="image[org_id]" value="<%= cookies[:org_id]%>" />
                <input type="hidden" id="owner_id" name="image[owner_id]" value="<%= cookies[:user_id]%>" />
                <input type="hidden" id="is_valid" name="image[is_valid]" value="true" />
              </form>
            </div>
          </div>
        </div>
      <form class="new-question-form">
        <input type="hidden" id="new_question_attachment_id" value="" name="newQuestionAttachmentId" />
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal3IEText1']%></label>
              <textarea class="form-control placeholder-no-fix" rows="2" placeholder="<%=ENV_VARS['messages']['menu4']['modal3PlaceholderText1']%>" id="new_question_content" name="newQuestionContent" maxlength="100"></textarea>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal3IEText2']%></label>
                    <input class="form-control placeholder-no-fix multiple-choice correct-answer" type="text" placeholder="<%=ENV_VARS['messages']['menu4']['modal3PlaceholderText2']%>" id="new_question_answer_1" name="newQuestionAnswer1" autocomplete="off" data-storage="1" maxlength="30" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal3IEText3']%></label>
                    <input class="form-control placeholder-no-fix multiple-choice wrong-answer" type="text" placeholder="<%=ENV_VARS['messages']['menu4']['modal3PlaceholderText3']%>" id="new_question_answer_2" name="newQuestionAnswer2" autocomplete="off" data-storage="2" maxlength="30" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal3IEText4']%></label>
                    <input class="form-control placeholder-no-fix multiple-choice wrong-answer" type="text" placeholder="<%=ENV_VARS['messages']['menu4']['modal3PlaceholderText4']%>" id="new_question_answer_3" name="newQuestionAnswer3" autocomplete="off" data-storage="3" maxlength="30" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu4']['modal3IEText5']%></label>
                    <input class="form-control placeholder-no-fix multiple-choice wrong-answer" type="text" placeholder="<%=ENV_VARS['messages']['menu4']['modal3PlaceholderText5']%>" id="new_question_answer_4" name="newQuestionAnswer4" autocomplete="off" data-storage="4" maxlength="30" />
                  </div>
                </div>
              </div>
              <div id="randomize-hint" class="" style="display: block;">
                <center>
                  <p class="hint" id="hint-select-answer">&nbsp;</p>
                </center>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input id="randomize_answers" type="checkbox" checked class="make-switch" data-size="small">
                  <label>&nbsp;&nbsp;<%=ENV_VARS['messages']['menu4']['modal3OptionText1']%>&nbsp;&nbsp;</label><i class="icon-shuffle"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <button type="button" onclick="QuizModule.previewQuestion()" class="btn btn-info"><%=ENV_VARS['messages']['menu4']['modal3ButtonText1']%></button>
          <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu4']['modal3ButtonText2']%></button>
          <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal3ButtonText3']%></button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!-- END NEW QUESTION MODAL -->

  <!-- BEGIN NEW ANNOUNCEMENT ADVANCE OPTIONS MODAL -->
  <div id="new_announcement_option_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Advance Options</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Group Name</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Group Name" id="group_name" name="groupname" />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Group Description</label>
            <textarea class="form-control placeholder-no-fix" rows="3" placeholder="Group Description" id="group_description" name="groupdescription"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" class="btn btn-success">Submit</button>
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <!-- END NEW ANNOUNCEMENT ADVANCE OPTIONS MODAL -->

  <!-- BEGIN CONFIRM DELETE ANNOUNCEMENT MODAL -->
  <div id="confirm_delete_quiz_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal4Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu4']['modal4Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" onclick="QuizModule.deleteObj();"><%=ENV_VARS['messages']['menu4']['modal4ButtonText1']%></button>
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal4ButtonText2']%></button>
    </div>
  </div>
  <!-- END CONFIRM DELETE ANNOUNCEMENT MODAL -->

  <!-- BEGIN PREVIEW QUESTION MODAL -->
  <div id="preview_question_modal" data-backdrop="static" class="modal fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal5Title']%></h4>
    </div>
    <div class="modal-body">
      
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal5ButtonText1']%></button>
    </div>
  </div>
  <!-- END PREVIEW QUESTION MODAL -->

  <!-- BEGIN PREVIEW QUIZ MODAL -->
  <div id="preview_quiz_modal" data-backdrop="static" class="modal fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal6Title']%></h4>
    </div>
    <div class="modal-body" style="height: 516px;">
      
    </div>  
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-4" style="text-align: left;">
          <button type="button" id="new-previous-preview" class="btn default" onclick="QuizModule.previousNewQuestion();"><%=ENV_VARS['messages']['menu4']['modal6ButtonText1']%></button>
        </div>
        <div class="col-md-8" style="text-align: right;">
          <button type="button" id="new-next-preview" class="btn default" onclick="QuizModule.nextNewQuestion();"><%=ENV_VARS['messages']['menu4']['modal6ButtonText2']%></button>
          <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal6ButtonText3']%></button>
        </div>
      </div>
    </div>
  </div>
  <!-- END PREVIEW QUIZ MODAL -->

  <!-- BEGIN CONFIRM DELETE ANNOUNCEMENT MODAL -->
  <div id="confirm_empty_quiz_modal" data-backdrop="static" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal7Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu4']['modal7Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal7ButtonText1']%></button>
    </div>
  </div>
  <!-- END CONFIRM DELETE ANNOUNCEMENT MODAL -->

  <!-- BEGIN CONFIRM CLOSE QUIZ MODAL -->
  <div id="confirm_close_quiz_modal" data-backdrop="static" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal8Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu4']['modal8Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" onclick="QuizModule.confirmCloseQuizModal();"><%=ENV_VARS['messages']['menu4']['modal8ButtonText1']%></button>
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal8ButtonText2']%></button>
    </div>
  </div>
  <!-- END CONFIRM CLOSE QUIZ MODAL -->

  <!-- BEGIN CONFIRM DELETE ANNOUNCEMENT MODAL -->
  <div id="confirm_close_quiz_modal2" data-backdrop="static" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu4']['modal9Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu4']['modal9Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal" id="force-close-create-quiz"><%=ENV_VARS['messages']['menu4']['modal9ButtonText1']%></button>
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu4']['modal9ButtonText2']%></button>
    </div>
  </div>
  <!-- END CONFIRM DELETE ANNOUNCEMENT MODAL -->

  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
      <div class="caption">
        <i class="icon-calculator font-blue-madison"></i>
        <span class="caption-subject bold font-blue-madison uppercase">
        <%=ENV_VARS['messages']['menu4']['title']%> </span>
        <span class="caption-helper"><%=ENV_VARS['messages']['menu4']['caption']%></span>
      </div>
      <div class="actions">
        <a href="#quiz_type_select_modal" data-toggle="modal" class="btn btn-sm green">
        <i class="fa fa-plus"></i> <%=ENV_VARS['messages']['menu4']['buttonText']%> </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table table-striped row-bordered table-hover" id="quiz_table">
            <thead>
              <th>
              </th>
              <th>
                <div class="caption font-blue-madison">
                  <span class="caption-subject bold uppercase"> <%=ENV_VARS['messages']['menu4']['table1Col1']%></span>
                </div>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu4']['table1Col2']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu4']['table1Col3']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu4']['table1Col4']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu4']['table1Col5']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu4']['table1Col6']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu4']['table1Col7']%>
              </th>
              <th>
                <!--Delete post-->
              </th>
              <th>
                <!-- sorted_at -->
              </th>
            </thead>
            <tbody id="quiz_table_body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row main-content-div">
    <div class="col-md-12">
      <!-- BEGIN Portlet PORTLET-->
      <div class="portlet light">
        <div class="portlet-body">
          <div class="overlay">
            <div class="overlay-text">
              <%=ENV_VARS['messages']['menu4']['footerMessage']%> <i class="icon-arrow-up font-blue-madison"></i>
            </div>
          </div>
          <div class="col-md-9 col-sm-12 column" id="detail_col">
          </div>
          <div class="col-md-3 col-sm-12 column">
            <div id="preview_col">
            </div>
            <div class="row display-hide" id="preview_control_col">
              <div class="col-md-4">
                <a id="previous-preview" onclick="QuizModule.previousQuestion();"><i class="fa fa-arrow-circle-o-left"></i></a>
              </div>
              <div class="col-md-4">
                <a id="edit-question"><i class="fa fa-pencil-square-o"></i></a>
              </div>
              <div class="col-md-4">
                <a id="next-preview" onclick="QuizModule.nextQuestion();"><i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
<%= javascript_include_tag "dashboard_quizzes" %>

<script>
var QuizTable = $('#quiz_table');

// DOM LOADING TABLE IMPL
var quizzes_loaded = $.Deferred();

jQuery(document).ready(function() {
  el = $('.main-content-div');
  App.blockUI({
    target: el,
    boxed: true,
    message: 'Loading...',
    overlayColor: '#223A44'
  });
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  QuickSidebar.init(); // init quick sidebar
  Demo.init(); // init demo features
  ChartsAmcharts.init(); // init demo charts
  ComponentsFormTools.init();
  QuizModule.init();
  FormDropzone.init();

  return $.Deferred(function (def) {

    // resolve the passed def
    // this is the callback when i.e. users_loaded.resolve() is called
    $.when(quizzes_loaded).done(function() {
      Metronic.initUniform();
      def.resolve();
    });
  });

});


</script>