<%= stylesheet_link_tag "dashboard_schedules", :media => "all" %>
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="org_name" value="<%=@org_name%>" />
<input type="hidden" id="org_profile" value="<%=@profile_thumb%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />
<input type="hidden" id="new_quiz_type" value="14" />
<div class="page-content">
  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
      <div class="caption">
        <i class="icon-calculator font-blue-madison"></i>
        <span class="caption-subject bold font-blue-madison uppercase">
        Schedules </span>
        <span class="caption-helper">upload your employee schedule here</span>
      </div>
      <div class="actions">
        <a href="#quiz_type_select_modal" data-toggle="modal" class="btn btn-sm green">
        <i class="fa fa-plus"></i> New </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <table class="table table-striped row-bordered table-hover" id="schedule_table">
            <thead>
              <th>
              </th>
              <th>
                <div class="caption font-blue-madison">
                  <span class="caption-subject bold uppercase"> Custom Quizzes</span>
                </div>
              </th>
              <th>
                <!--Delete post-->
              </th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row main-content-div">
    <div class="col-md-12">
      <!-- BEGIN Portlet PORTLET-->
      <div class="portlet light">
        <div class="portlet-body">
          <div class="overlay">
            <div class="overlay-text">
              Click on a quiz to the right to see its statistics <i class="icon-arrow-right font-blue-madison"></i>
            </div>
          </div>
          <div class="col-md-9 col-sm-12 column" id="detail_col">
          </div>
          <div class="col-md-3 col-sm-12 column">
            <div id="preview_col">
            </div>
            <div class="row display-hide" id="preview_control_col">
              <a id="previous-preview" onclick="QuizModule.previousQuestion();"><i class="fa fa-arrow-circle-o-left"></i></a>
              <a id="next-preview" onclick="QuizModule.nextQuestion();"><i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
<%= javascript_include_tag "dashboard_schedules" %>

<script>
var ScheduleTable = $('#schedule_table');

jQuery(document).ready(function() {
  el = $('.main-content-div');
  App.blockUI({
    target: el,
    boxed: true,
    message: 'Loading...',
    overlayColor: '#223A44'
  });
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  QuickSidebar.init(); // init quick sidebar
  Demo.init(); // init demo features
  ChartsAmcharts.init(); // init demo charts
  ComponentsFormTools.init();
  ScheduleModule.init();
  FormDropzone.init();
});


</script>