<%= stylesheet_link_tag "dashboard_settings", :media => "all" %>

<!-- DAVID: I could now remove these <input> tags as they are not being used for env vars anymore
other than <input type="hidden" id="asset_root" ..... />

NOTE: I believe I could remove these in all the views
 -->
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="is_root" value="<%=cookies[:is_root]%>" />
<input type="hidden" id="is_admin" value="<%=cookies[:is_admin]%>" />
<input type="hidden" id="admin_location" value="<%=cookies[:user_location_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />
<div class="page-content">
  <!-- START UPLOAD USER -->
  <!-- STEP 1 -->
  <div id="upload_user_select_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">User Entry Method</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <a href="#upload_manual_entry_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-keyboard-o"></i>
              <div>Manual Entry</div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <a href="#upload_excel_entry_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-upload"></i>
              <div>Excel Upload</div>
            </a>
          </div>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <!-- STEP 2 -->
  <div id="upload_manual_entry_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <form class="upload_manual_entry_form" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">User Entry</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">First Name</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="First Name" name="newuserfname" id="new-user-fname" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Last Name</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Last Name" name="newuserlname" id="new-user-lname" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Email</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="newuseremail" id="new-user-email" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Phone</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Phone Number" name="newuserphone" id="new-user-phone" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Location</label>
          <select name="newuserloc" id="new-user-loc" class="form-control select2"></select>
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Group</label>
          <select name="newusergrp" id="new-user-grp" class="form-control select2"></select>
        </div>
      </div>  
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>

  <!-- STEP 3 -->
  <div id="upload_excel_entry_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Import Users From File</h4>
    </div>
    <div class="modal-body">
      <div class="form-group row-icons">
        <a style="text-decoration: none;" href="https://s3.amazonaws.com/coffeemobile/user_upload_template.xlsx">
          <%= image_tag("https://s3.amazonaws.com/coffeemobile/here_icon.png", alt: "icon", class:"icon")%>
          <%= image_tag("https://s3.amazonaws.com/coffeemobile/excel_icon.png", alt: "icon", class:"icon")%>
          Download the Template
        </a>
      </div>
      <div class="form-group">
        <p>
          <span class="label label-danger">
          NOTE: </span>
          &nbsp; This plugins works only on Latest Chrome, Firefox, Safari, Opera & Internet Explorer 10.
        </p>
        <form action="#" class="dropzone" id="user-import-excel-dropzone">
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <!-- END UPLOAD USER -->

  <!-- START PREP UPLOAD USER TABLE MODAL -->
  <div id="upload_excel_verify_modal" class="modal fade wide" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Mass User Invitation</h4>
    </div>
    <div class="modal-body">
      <table class="table table-striped row-bordered table-hover" id="mass_invite_table">
        <thead>
          <tr>
            <th>
               Name
            </th>
            <th>
            </th>
            <th>
               Email
            </th>
            <th>
               Phone
            </th>
            <th>
               Actions
            </th>
          </tr>
        </thead>
        <tbody id="mass_invite_table_body">
        
        </tbody>
      </table>
      <div class="progress progress-striped active display-hide" id="upload_progress">
        <div class="progress-bar progress-bar-info" id="mass_invite_progress_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          <span class="sr-only">
          <span id="mass_invite_progress_num">0</span>% Complete </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" onclick="SettingsModule.processMassInvite();">Submit</button>
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END PREP UPLOAD USER TABLE MODAL -->

  <!-- START LOCATION -->
  <div id="location_addendum_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <form class="location-addendum-form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Missing Location Information</h4>
      </div>
      <div class="modal-body">
        <address>
          <strong><span id="add_line_1"></span></strong> 
          <br /><span id="add_line_2"></span>
          <br /><span id="add_line_3"></span>
          <br /><span id="add_line_4"></span>
        </address>
        <p class="hint">Some information is missing from the address we're able to pull from your input, you must enter them manually.</p>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Unit Number (optional)</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Unit Number (optional)" name="unitnumber" id="unitnumber" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Street Number</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Street Number" name="streetnumber" id="streetnumber" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Address</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Address" name="address" id="address" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">City</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="City" name="city" id="city" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Province/State</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Province/State" name="province" id="province" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Country</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Country" name="country" id="country" />
        </div>
        <div class="form-group" style="display: none">
          <label class="control-label visible-ie8 visible-ie9">Postal/Zip Code</label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Postal/Zip Code" name="postal" id="postal" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
    </form>
  </div>
  <!-- END LOCATION -->

  <!-- BEGIN CONFIRM DELETE GROUP MODAL -->
  <div id="confirm_delete_group_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Are You Sure?</h4>
    </div>
    <div class="modal-body">
      <p>If there are users currently assigned to this user group, deleting it will cause them to become unassigned.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" onclick="SettingsModule.deleteGroup();">Confirm</button>
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END CONFIRM DELETE GROUP MODAL -->

  <!-- BEGIN CONFIRM DELETE LOCATION MODAL -->
  <div id="confirm_delete_location_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Are You Sure?</h4>
    </div>
    <div class="modal-body">
      <p>If there are users currently assigned to this location, deleting it will cause them to become unassigned.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" onclick="SettingsModule.deleteObj();">Confirm</button>
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END CONFIRM DELETE LOCATION MODAL -->

  <!-- BEGIN UNIT NUMBER MODAL -->
  <div id="unit_number_modal" class="modal fade small" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Unit Number</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input class="form-control" placeholder="Unit Number" id="add_unit_number" type="number" data-tabindex="1">
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" id="add-unit-number" class="btn blue">Add</button>
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END UNIT NUMBER MODAL -->

  <!-- BEGIN user_preview_modal MODAL -->
  <div id="user_preview_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">User</h4>
    </div>
    <div class="modal-body">
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN user_edit_modal MODAL -->
  <div id="users_edit_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Edit Users</h4>
    </div>
    <div class="modal-body">
      <div class="portlet light profile-sidebar-portlet">
        <div class="profile-usermenu">
          <form action="#" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-md-3">User List</label>
              <div class="col-md-9">
                <input type="hidden" id="edit_user_name_list" class="form-control select2" value="" height="300px">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Location</label>
              <div class="col-md-9">
                <select id="select4_location" class="form-control select2"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">User Group</label>
              <div class="col-md-9">
                <select id="select4_usergroup" class="form-control select2"></select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN user_edit_modal MODAL -->
  <div id="invitees_edit_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Edit Invitees</h4>
    </div>
    <div class="modal-body">
      <div class="portlet light profile-sidebar-portlet">
        <div class="profile-usermenu">
          <form action="#" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-md-3">User List</label>
              <div class="col-md-9">
                <input type="hidden" id="edit_invitee_name_list" class="form-control select2" value="" height="120px">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Location</label>
              <div class="col-md-9">
                <select id="select5_location" class="form-control select2"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">User Group</label>
              <div class="col-md-9">
                <select id="select5_usergroup" class="form-control select2"></select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN user_preview_modal MODAL -->
  <div id="invitation_preview_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Invitation</h4>
    </div>
    <div class="modal-body">
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN applicant_preview_modal MODAL -->
  <div id="applicant_preview_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Applicant</h4>
    </div>
    <div class="modal-body">
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- END applicant_preview_modal MODAL -->

  <!-- BEGIN NEW LOCATION MODAL -->
  <div id="new_location_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <form class="location-form" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">New Location</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Location</label>
          <input class="form-control placeholder-no-fix" type="text" placeholder="Location Address/Name" id="pac-input" name="locationname" />
          <div id="modal-unit-number" style="display: none;">
            <a data-toggle="modal" href="#unit_number_modal">+ Unit number?</a>
          </div>
        </div>
        <p class="hint">
          Enter your location name or address, select from the dropdown to locate.
        </p>
        <div id="map-canvas" style="height: 188px;">
          
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.modal -->

  <!-- BEGIN bulk_edit_empty_modal MODAL -->
  <div id="bulk_edit_empty_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Bulk Edit</h4>
    </div>
    <div class="modal-body">
      <p>You must make at least one selection before bulk editing.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal">Okay</button>
    </div>
  </div>
  <!-- END bulk_edit_empty_modal MODAL -->

  <!-- BEGIN bulk_edit_empty_modal MODAL -->
  <div id="bulk_delete_empty_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Bulk Delete</h4>
    </div>
    <div class="modal-body">
      <p>You must make at least one selection before bulk deleting.</p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal">Okay</button>
    </div>
  </div>
  <!-- END bulk_edit_empty_modal MODAL -->
  <!-- END NEW LOCATION MODAL -->

  <!-- BEGIN NEW GROUP MODAL -->
  <div id="new_group_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">New Group</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p>
              <span class="label label-danger">
              NOTE: </span>
              &nbsp; This plugins works only on Latest Chrome, Firefox, Safari, Opera & Internet Explorer 10.
            </p>
            <form action="/api/images/drop_image" class="dropzone" id="group-avatar-dropzone">
              <input type="hidden" id="image_type" name="image[image_type]" value="6" />
              <input type="hidden" id="image_org" name="image[org_id]" value="<%= cookies[:org_id]%>" />
              <input type="hidden" id="owner_id" name="image[owner_id]" value="<%= cookies[:user_id]%>" />
              <input type="hidden" id="is_valid" name="image[is_valid]" value="true" />
            </form>
          </div>
        </div>
      </div>
<form class="new-group-form" method="POST">
      <input type="hidden" value="" id="group_avatar_id" name="groupavatarid" />
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Group Name</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Group Name" id="group_name" name="groupname" />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Group Description</label>
            <textarea class="form-control placeholder-no-fix" rows="3" placeholder="Group Description" id="group_description" name="groupdescription"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn default" data-dismiss="modal">Close</button>
      </div>
    </div>
</form>
  </div>
  <!-- /.modal -->
  <!-- END NEW GROUP MODAL -->

  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row main-content-div" style="min-height: 500px;">
    <div class="col-md-12">
      <!-- BEGIN Portlet PORTLET-->
      <div class="portlet light" id="tabs">
        <ul class="nav nav-tabs nav-justified">
          <!-- DAVID: START COMMENT OF OLD LAYOUT -->
          <!--
          <li class="active">
            <a href="#tab_users" data-toggle="tab" class="uppercase bold">
            <i class="icon-user"></i> Users</a>
          </li>
          <li>
            <a href="#tab_invitations" data-toggle="tab" class="uppercase bold">
            <i class="icon-user-follow"></i> Invitations</a>
          </li>
          -->
          <!--<li>
            <a href="#tab_applications" data-toggle="tab">
            Applications&nbsp;&nbsp;<span class="badge badge-danger"></span>
            </a>
          </li>-->
          <!--
          <li>
            <a href="#tab_groups" data-toggle="tab" class="uppercase bold">
            <i class="icon-users"></i> Groups</a>
          </li>
          <li>
            <a href="#tab_locations" data-toggle="tab" class="uppercase bold">
            <i class="icon-pointer"></i> Locations</a>
          </li>
          -->
          <!--
          <li>
            <a href="#tab_deactivated" data-toggle="tab" class="uppercase bold">
            <i class="icon-user-unfollow"></i> Deactivated Users</a>
          </li>
          -->
          <!-- DAVID: END COMMENT OF OLD LAYOUT -->
          <li class="disabled">
      			<a href="#tab_network" data-toggle="tab" class="uppercase bold">
      			<i class="icon-globe"></i> <%=ENV_VARS['messages']['menu9']['tabTitle1']%></a>
          </li>
        </ul>
        <div class="portlet-body">
          <div class="tab-content">
            <div class="tab-pane" id="tab_users">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#upload_user_select_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Bulk Actions <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="SettingsModule.editUsers();">
                          <i class="fa fa-pencil"></i> Edit </a>
                        </li>
                        <li>
                          <a href="#" onclick="SettingsModule.banUsers();">
                          <i class="fa fa-ban"></i> Ban </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped row-bordered table-hover" id="user_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input onclick="SettingsModule.toggleAll(this);" id="select_all_users" type="checkbox" class="group-checkable" data-set="#user_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Status
                          </th>
                        </tr>
                      </thead>
                      <tbody id="user_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
            </div>
            <div class="tab-pane" id="tab_invitations">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#upload_user_select_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Bulk Actions <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="SettingsModule.editInvitees();">
                          <i class="fa fa-pencil"></i> Edit </a>
                        </li>
                        <li>
                          <a href="#" onclick="SettingsModule.deleteInvitees();">
                          <i class="fa fa-ban"></i> Delete </a>
                        </li>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped row-bordered table-hover" id="invitee_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input id="select_all_invitees" onclick="SettingsModule.toggleAll(this);" type="checkbox" class="group-checkable" data-set="#invitee_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Invited On
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Actions
                          </th>
                        </tr>
                        </thead>
                      <tbody id="invitee_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
            </div>
            <!--<div class="tab-pane" id="tab_applications">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-child"></i>Applications
                  </div>
                  <div class="actions">
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Tools <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="SettingsModule.editApplications();">
                          <i class="fa fa-pencil"></i> Edit </a>
                        </li>
                        <li>
                          <a href="#" onclick="SettingsModule.approveApplications();">
                          <i class="fa fa-check"></i> Approve </a>
                        </li>
                        <li>
                          <a href="#" onclick="SettingsModule.rejectApplications();">
                          <i class="fa fa-times"></i> Reject </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped table-bordered table-hover" id="applicant_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input onclick="SettingsModule.toggleAll(this);" id="select_all_applicants" type="checkbox" class="group-checkable" data-set="#applicant_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Status
                          </th>
                        </tr>
                      </thead>
                      <tbody id="applicant_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>-->
            <div class="tab-pane" id="tab_groups">
              <div class="portlet">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#new_group_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="row" id="group_portlets">
                    <!--<div class="col-md-4 column" id="group_col_1">
                    </div>
                    <div class="col-md-4 column" id="group_col_2">    
                    </div>
                    <div class="col-md-4 column" id="group_col_3">
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_locations">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#new_location_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                  </div>
                </div>
                <div class="portlet-body">
                <div class="full-height-content-body" id="height-marker">
                  <div class="row" id="location_portlets">
                    <div class="col-md-3 column" id="location_col">
                      
                    </div>
                    <div class="col-md-9 column">
                      <div id="location_map" class="location_map">
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_deactivated">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <!--<div class="actions">
                    <a href="#" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> Tools <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#">
                          <i class="fa fa-trash-o"></i> Delete </a>
                        </li>
                        <li>
                          <a href="#">
                          <i class="fa fa-ban"></i> Ban </a>
                        </li>
                      </ul>
                    </div>
                  </div>-->
                </div>
                <div class="full-height-content-body">
                  <div class="portlet-body">
                    <table class="table table-striped row-bordered table-hover" id="deactivated_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input type="checkbox" class="group-checkable" data-set="#deactivated_table .checkboxes"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             Name
                          </th>
                          <th>
                             Email
                          </th>
                          <th>
                             Phone
                          </th>
                          <th>
                             Group
                          </th>
                          <th>
                             Location
                          </th>
                          <th>
                             Status
                          </th>
                        </tr>
                      </thead>
                      <tbody id="deactivated_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane active" id="tab_network">
            <!-- DAVID: I was working on this -->
              <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                  <table id="network_settings_table" style="width: 100%;">
                    <tr>
                      <td><%=ENV_VARS['messages']['menu9']['settingName1']%></td>
                      <td>
                        <input type="checkbox" id="network_settings_profanity_switch" class="make-switch" data-on-text="&nbsp;<%=ENV_VARS['messages']['menu9']['switchEnabledText1']%>&nbsp;&nbsp;" data-off-text="&nbsp;<%=ENV_VARS['messages']['menu9']['switchDisabledText1']%>&nbsp;" />
                      </td>
                    </tr>
                    <tr>
                      <td><%=ENV_VARS['messages']['menu9']['settingName2']%></td>
                      <td>
                        <!-- Metronic generates the switch functionality when it sees the class "make-switch" -->
                        <input type="checkbox" id="network_settings_secure_network_switch" class="make-switch" data-on-text="&nbsp;<%=ENV_VARS['messages']['menu9']['switchEnabledText2']%>&nbsp;&nbsp;" data-off-text="&nbsp;<%=ENV_VARS['messages']['menu9']['switchDisabledText2']%>&nbsp;" />
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<%= javascript_include_tag "dashboard_settings" %>

<script>
var UserTable = $('#user_table');
var InviteeTable = $('#invitee_table');
var DeactiveTable = $('#deactivated_table');
var ApplicantTable = $('#applicant_table');
var MassInviteTable = $('#mass_invite_table');

$("#tabs").tabs({
    activate: function( event,ui ) {
        if(ui.newTab.context.hash == "#tab_users") {
          $("#select_all_users").parent().removeClass("checked");
          $("#select_all_users").prop("checked", false);
          $("#user_table_body").find('[type="checkbox"]').each(function() {
              $(this).parent().removeClass("checked");
              $(this).prop("checked", false);
          });
          UserTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_applications") {
          ApplicantTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_invitations") {
          $("#select_all_invitees").parent().removeClass("checked");
          $("#select_all_invitees").prop("checked", false);
          $("#invitee_table_body").find('[type="checkbox"]').each(function() {
              $(this).parent().removeClass("checked");
              $(this).prop("checked", false);
          });
          InviteeTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_groups") {
          
        } else if(ui.newTab.context.hash == "#tab_locations") {
          SettingsModule.initMap();
        } else if(ui.newTab.context.hash == "#tab_deactivated") {
          DeactiveTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_network") {
          SettingsModule.networkTabRender();
        }
    }
});


var el = null;
jQuery(document).ready(function() {
  el = $('.main-content-div');
  App.blockUI({
    target: el,
    boxed: true,
    message: 'Loading...',
    overlayColor: '#223A44'
  });
  //App.init();
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  var h = $('#height-marker').parent().height();
  document.getElementById("location_col").style.height = parseInt(h/1.1)+"px";
  document.getElementById("location_col").style.overflowY = "scroll";
  document.getElementById("location_map").style.height = parseInt(h/1.1)+"px";
  QuickSidebar.init(); // init quick sidebar
  Demo.init(); // init demo features
  UIToastr.init();
  UIExtendedModals.init();
  PortletDraggable.init();
  SettingsModule.init();
  FormDropzone.init();
});
</script>


