<%= stylesheet_link_tag "dashboard_home", :media => "all" %>
<script>

var raw_data = null;

var chat_plot = null;
var push_plot = null;
var like_plot = null;
var user_plot = null;

var chat_data = [];
var post_data = [];
var like_data = [];
var user_data = [];

var chat_hourly_data = [];
var post_hourly_data = [];
var like_hourly_data = [];
var user_hourly_data = [];

</script>
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="org_name" value="<%=@org_name%>" />
<input type="hidden" id="org_profile" value="<%=@profile_thumb%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />
<input type="hidden" id="start_date" value="<%=@start_date%>">
<input type="hidden" id="end_date" value="<%=@end_date%>">
<input type="hidden" id="org_age" value="<%=@org_age%>">
<div class="page-content">
  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue-madison">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number">
             <%=@message_count%>
          </div>
          <div class="desc">
             Chat Messages
          </div>
        </div>
        <a class="more" href="#">
        View stats <i class="m-icon-swapdown m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat red-intense">
        <div class="visual">
          <i class="fa fa-file-text-o"></i>
        </div>
        <div class="details">
          <div class="number">
             <%=@post_count%>
          </div>
          <div class="desc">
             Newsfeed Posts
          </div>
        </div>
        <a class="more" href="#">
        View stats <i class="m-icon-swapdown m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-haze">
        <div class="visual">
          <i class="fa fa-heart"></i>
        </div>
        <div class="details">
          <div class="number">
             <%=@like_count%>
          </div>
          <div class="desc">
             Likes
          </div>
        </div>
        <a class="more" href="#">
        View stats <i class="m-icon-swapdown m-icon-white"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple-plum">
        <div class="visual">
          <i class="fa fa-users"></i>
        </div>
        <div class="details">
          <div class="number">
             <%=@user_count%>
          </div>
          <div class="desc">
             Active Users
          </div>
        </div>
        <a class="more" href="#">
        View stats <i class="m-icon-swapdown m-icon-white"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="portlet full-height-content">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-bar-chart-o"></i>
            <span class="caption-subject bold uppercase"> System Activity</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
              <label class="btn btn-circle btn-transparent grey-salsa">
              <input type="radio" name="options" class="toggle" id="initChartToday">Last 24 Hour</label>
              <label class="btn btn-circle btn-transparent grey-salsa">
              <input type="radio" name="options" class="toggle" id="initChartTwoDays">Last 48 Hour</label>
              <label class="btn btn-circle btn-transparent grey-salsa">
              <input type="radio" name="options" class="toggle" id="initChartWeek">Week</label>
              <label class="btn btn-circle btn-transparent grey-salsa">
              <input type="radio" name="options" class="toggle" id="initChartMonth">Month</label>
              <label class="btn btn-circle btn-transparent grey-salsa active">
              <input type="radio" name="options" class="toggle" id="initChartAll">All Time</label>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="full-height-content-body" id="activity_section">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="chat_activities"></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="posts_activities"></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="likes_activities"></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="users_activities"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
<%= javascript_include_tag "dashboard_system_home" %>

<script>

jQuery(document).ready(function() {       
  $('#start_date').val(moment().subtract('days', parseInt($('#org_age').val()) ));
  $('#end_date').val(moment());
  App.init();
  Metronic.init(); // init metronic core components
  Layout.init();
  var h = $('#activity_section').parent().height();
  document.getElementById("chat_activities").style.height = parseInt(h/2.2)+"px";
  document.getElementById("posts_activities").style.height = parseInt(h/2.2)+"px";
  document.getElementById("likes_activities").style.height = parseInt(h/2.2)+"px";
  document.getElementById("users_activities").style.height = parseInt(h/2.2)+"px";
  HomeModule.init();
});


</script>