<%= stylesheet_link_tag "dashboard_trainings", :media => "all" %>
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="is_root" value="<%=cookies[:is_root]%>" />
<input type="hidden" id="is_admin" value="<%=cookies[:is_admin]%>" />
<input type="hidden" id="admin_location" value="<%=cookies[:user_location_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />
<div class="page-content">
  <!-- BEGIN TRAINING TYPE SELECTOR -->
  <div id="training_type_select_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal1Title']%></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#upload_youtube_training_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-youtube"></i>
              <div><%=ENV_VARS['messages']['menu3']['modal1subtitle1']%></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#upload_video_training_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-file-video-o"></i>
              <div><%=ENV_VARS['messages']['menu3']['modal1subtitle2']%></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#upload_pdf_training_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-file-pdf-o"></i>
              <div><%=ENV_VARS['messages']['menu3']['modal1subtitle3']%></div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#upload_doc_training_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-file-word-o"></i>
              <div><%=ENV_VARS['messages']['menu3']['modal1subtitle4']%></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#upload_xls_training_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-file-excel-o"></i>
              <div><%=ENV_VARS['messages']['menu3']['modal1subtitle5']%></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <a href="#upload_ppt_training_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-file-powerpoint-o"></i>
              <div><%=ENV_VARS['messages']['menu3']['modal1subtitle6']%></div>
            </a>
          </div>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal1ButtonText1']%></button>
    </div>
  </div>
  <!-- END TRAINING TYPE SELECTOR -->
  <!-- BEGIN UPLOAD SAFETY TRAINING MODAL -->
  <div id="upload_safety_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 400px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">New Safety Training</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <!--<a href="#training_option_modal" data-toggle="modal" class="btn btn-sm btn-default">
              <i class="icon-settings"></i> Advance Options</a>-->
              <label><input type="checkbox" checked="true" id="new_safety_training_push" > Push Notification </label>
            </div>
          </div>
        </div>
        <form class="new-safety-training-form" method="POST" />
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Location</label>
                <select name="newSafetyTrainingLocation" id="new-safety-training-loc" class="form-control select2"></select>
                <p class="hint">Location</p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Group</label>
                <select name="newSafetyTrainingGroup" id="new-safety-training-grp" class="form-control select2"></select>
                <p class="hint">User Group</p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Safety Training</label>
                <select class="form-control" name="newSafetyTraining" id="new-safety-training">
                  
                </select>
                <p class="hint">Safety Training Course</p>
              </div>
              <input type="hidden" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button type="button" class="btn btn-info" onclick="TrainingModule.previewYoutube();">Preview</button>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END UPLOAD SAFETY TRAINING MODAL -->
  <!-- BEGIN UPLOAD PDF TRAINING MODAL -->
  <div id="upload_pdf_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 700px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal7Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <!--<a href="#training_option_modal" data-toggle="modal" class="btn btn-sm btn-default">
              <i class="icon-settings"></i> Advance Options</a>-->
              <label><input type="checkbox" checked="true" id="new_pdf_training_push" > <%=ENV_VARS['messages']['menu3']['modal7Checkbox']%> </label>
            </div>
            <div class="form-group">
              <form action="/api/file_uploads/drop_file" class="dropzone" id="training-pdf-dropzone">
                <input type="hidden" id="org_id" name="org_id" value="<%= cookies[:org_id]%>" />
                <input type="hidden" id="owner_id" name="owner_id" value="<%= cookies[:user_id]%>" />
              </form>
            </div>
          </div>
        </div>
        <form class="new-pdf-training-form" method="POST" />
          <div class="form-group">
            <input type="hidden" id="new_pdf_training_id" value="" name="newPDFTrainingId" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal7IEText1']%></label>
                <select name="newPDFTrainingLocation" id="new-pdf-training-loc" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal7Hint1']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal7IEText2']%></label>
                <select name="newPDFTrainingGroup" id="new-pdf-training-grp" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal7Hint2']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal7IEText3']%></label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu3']['modal7PlaceholderText1']%>" maxlength="140" id="new_pdf_training_title" name="newPDFTrainingTitle" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <!--<button type="button" class="btn btn-info">Preview</button>-->
            <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu3']['modal7ButtonText1']%></button>
            <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal7ButtonText2']%></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END UPLOAD PDF TRAINING MODAL -->
  <!-- BEGIN UPLOAD YOUTUBE TRAINING MODAL -->
  <div id="upload_youtube_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 700px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal2Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <!--<a href="#training_option_modal" data-toggle="modal" class="btn btn-sm btn-default">
              <i class="icon-settings"></i> Advance Options</a>-->
              <label><input type="checkbox" checked="true" id="new_youtube_training_push" > <%=ENV_VARS['messages']['menu3']['modal2Checkbox']%> </label>
            </div>
          </div>
        </div>
        <form class="new-youtube-training-form" method="POST" />
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal2IEText4']%></label>
                <select name="newYoutubeTrainingLocation" id="new-youtube-training-loc" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal2Hint1']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal2IEText1']%></label>
                <select name="newYoutubeTrainingGroup" id="new-youtube-training-grp" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal2Hint2']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal2IEText2']%></label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu3']['modal2PlaceholderText1']%>" maxlength="140"  id="new_youtube_training_title" name="newYoutubeTrainingTitle" />
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal2IEText3']%></label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu3']['modal2PlaceholderText2']%>" id="new_youtube_training_url" name="newYoutubeTrainingURL" />
              </div>
              <div class="form-group">
                <input class="form-control placeholder-no-fix" type="hidden" id="valid_youtube_url" name="validYoutubeUrl" value="" />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img id="new_youtube_training_display_thumb_url" src="http://localhost:3000/assets/placeholder-logo.png" />
                </div>
                <div class="col-md-6">
                  <label><small><%=ENV_VARS['messages']['menu3']['modal2subtitle1']%></small> <br><span id="new_youtube_training_display_title"></span></label>
                  <label><small><%=ENV_VARS['messages']['menu3']['modal2subtitle2']%></small> <br><span id="new_youtube_training_display_duration"></span></label>
                  <input type="hidden" id="new_youtube_training_duration" name="video[video_duration]" value="" />
                  <input type="hidden" id="new_youtube_training_thumb_url" name="video[thumb_url]" value="" />
                  <input type="hidden" id="new_youtube_training_video_host" name="video[video_host]" value="2" />
                  <input type="hidden" id="new_youtube_training_video_url" name="video[video_url]" value="" />
                  <input type="hidden" id="new_youtube_training_video_id" name="video[video_id]" value="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button type="button" class="btn btn-info" onclick="TrainingModule.previewYoutube();"><%=ENV_VARS['messages']['menu3']['modal2ButtonText1']%></button>
            <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu3']['modal2ButtonText2']%></button>
            <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal2ButtonText3']%></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END UPLOAD YOUTUBE TRAINING MODAL -->
  <!-- BEGIN UPLOAD VIDEO TRAINING MODAL -->
  <div id="upload_video_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 700px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal3Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
            </div>
            <div class="form-group">
              <form action="/api/videos/swfupload" class="dropzone" id="training-video-dropzone">
                <input type="hidden" name="video[org_id]" value="<%=cookies[:org_id] %>" />
                <input type="hidden" name="video[owner_id]" value="1" />
                <input type="hidden" name="video[output_url]" value="" />
              </form>
            </div>
          </div>
        </div>
        <form class="new-video-training-form" method="POST" />
          <div class="form-group">
            <input type="hidden" id="new_video_training_id" value="" name="newVideoTrainingId" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal3IEText1']%></label>
                <select name="newVideoTrainingLocation" id="new-video-training-loc" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal3Hint1']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal3IEText2']%></label>
                <select name="newVideoTrainingGroup" id="new-video-training-grp" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal3Hint2']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal3IEText3']%></label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu3']['modal3PlaceholderText1']%>" maxlength="140"  id="new_video_training_title" name="newVideoTrainingTitle" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu3']['modal3ButtonText1']%></button>
            <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal3ButtonText2']%></button>
          </div>
        </div>
      </form>
      <input type="hidden" id="dz-video-result-url" value="" />
    </div>
  </div>
  <!-- END UPLOAD VIDEO TRAINING MODAL -->
  <!-- BEGIN UPLOAD DOC TRAINING MODAL -->
  <div id="upload_doc_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 700px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal4Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <!--<a href="#training_option_modal" data-toggle="modal" class="btn btn-sm btn-default">
              <i class="icon-settings"></i> Advance Options</a>-->
              <label><input type="checkbox" checked="true" id="new_doc_training_push" > <%=ENV_VARS['messages']['menu3']['modal4Checkbox']%> </label>
            </div>
            <div class="form-group">
              <form action="/api/file_uploads/drop_file" class="dropzone" id="training-doc-dropzone">
                <input type="hidden" id="org_id" name="org_id" value="<%= cookies[:org_id]%>" />
                <input type="hidden" id="owner_id" name="owner_id" value="<%= cookies[:user_id]%>" />
              </form>
            </div>
          </div>
        </div>
        <form class="new-doc-training-form" method="POST" />
          <div class="form-group">
            <input type="hidden" id="new_doc_training_id" value="" name="newDOCTrainingId" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal4IEText1']%></label>
                <select name="newDOCTrainingLocation" id="new-doc-training-loc" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal4Hint1']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal4IEText2']%></label>
                <select name="newDOCTrainingGroup" id="new-doc-training-grp" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal4Hint2']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal4IEText3']%></label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu3']['modal4PlaceholderText1']%>" maxlength="140" id="new_doc_training_title" name="newDOCTrainingTitle" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <!--<button type="button" class="btn btn-info">Preview</button>-->
            <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu3']['modal4ButtonText1']%></button>
            <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal4ButtonText2']%></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END UPLOAD DOC TRAINING MODAL -->
  <!-- BEGIN UPLOAD EXCEL TRAINING MODAL -->
  <div id="upload_xls_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 700px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal5Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <!--<a href="#training_option_modal" data-toggle="modal" class="btn btn-sm btn-default">
              <i class="icon-settings"></i> Advance Options</a>-->
              <label><input type="checkbox" checked="true" id="new_xls_training_push" > <%=ENV_VARS['messages']['menu3']['modal5Checkbox']%> </label>
            </div>
            <div class="form-group">
              <form action="/api/file_uploads/drop_file" class="dropzone" id="training-xls-dropzone">
                <input type="hidden" id="org_id" name="org_id" value="<%= cookies[:org_id]%>" />
                <input type="hidden" id="owner_id" name="owner_id" value="<%= cookies[:user_id]%>" />
              </form>
            </div>
          </div>
        </div>
        <form class="new-xls-training-form" method="POST" />
          <div class="form-group">
            <input type="hidden" id="new_xls_training_id" value="" name="newXLSTrainingId" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal5IEText1']%></label>
                <select name="newXLSTrainingLocation" id="new-xls-training-loc" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal5Hint1']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal5IEText2']%></label>
                <select name="newXLSTrainingGroup" id="new-xls-training-grp" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal5Hint2']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal5IEText3']%></label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu3']['modal5PlaceholderText1']%>" maxlength="140" id="new_xls_training_title" name="newXLSTrainingTitle" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <!--<button type="button" class="btn btn-info">Preview</button>-->
            <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu3']['modal5ButtonText1']%></button>
            <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal5ButtonText2']%></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END UPLOAD EXCEL TRAINING MODAL -->
  <!-- BEGIN UPLOAD POWERPOINT TRAINING MODAL -->
  <div id="upload_ppt_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first" style="height: 95%; max-height: 700px;">
    <div class="scroller" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal6Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label><input type="checkbox" checked="true" id="new_ppt_training_push" > <%=ENV_VARS['messages']['menu3']['modal6Checkbox']%> </label>
            </div>
            <div class="form-group">
              <form action="/api/file_uploads/drop_file" class="dropzone" id="training-ppt-dropzone">
                <input type="hidden" id="org_id" name="org_id" value="<%= cookies[:org_id]%>" />
                <input type="hidden" id="owner_id" name="owner_id" value="<%= cookies[:user_id]%>" />
              </form>
            </div>
          </div>
        </div>
        <form class="new-ppt-training-form" method="POST" />
          <div class="form-group">
            <input type="hidden" id="new_ppt_training_id" value="" name="newPPTTrainingId" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal6IEText1']%></label>
                <select name="newPPTTrainingLocation" id="new-ppt-training-loc" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal6Hint1']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal6IEText2']%></label>
                <select name="newPPTTrainingGroup" id="new-ppt-training-grp" class="form-control select2"></select>
                <p class="hint"><%=ENV_VARS['messages']['menu3']['modal6Hint2']%></p>
              </div>
              <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu3']['modal6IEText3']%></label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="<%=ENV_VARS['messages']['menu3']['modal6PlaceholderText1']%>" maxlength="140" id="new_ppt_training_title" name="newPPTTrainingTitle" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu3']['modal6ButtonText1']%></button>
            <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal6ButtonText2']%></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END UPLOAD POWERPOINT TRAINING MODAL -->

  <div id="confirm_delete_training_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal8Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu3']['modal8Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" onclick="TrainingModule.deleteObj();"><%=ENV_VARS['messages']['menu3']['modal8ButtonText1']%></button>
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal8ButtonText2']%></button>
    </div>
  </div>

  <!-- BEGIN CONFIRM DELETE ANNOUNCEMENT MODAL -->
  <div id="bad_youtube_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal9Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu3']['modal9Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal9ButtonText1']%></button>
    </div>
  </div>
  <!-- END CONFIRM DELETE ANNOUNCEMENT MODAL -->

  <!-- BEGIN CONFIRM DELETE ANNOUNCEMENT MODAL -->
  <div id="bad_stream_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal10Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu3']['modal10Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal10ButtonText1']%></button>
    </div>
  </div>
  <!-- END CONFIRM DELETE ANNOUNCEMENT MODAL -->

  <!-- BEGIN CONFIRM DELETE ANNOUNCEMENT MODAL -->
  <div id="video_processing_notification_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal11Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu3']['modal11Text1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal11ButtonText1']%></button>
    </div>
  </div>
  <!-- END CONFIRM DELETE ANNOUNCEMENT MODAL -->

  <!-- BEGIN PREVIEW ANNOUNCEMENT MODAL -->
  <div id="preview_youtube_training_modal" data-backdrop="static" class="modal container fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu3']['modal12Title']%></h4>
    </div>
    <div class="modal-body">
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu3']['modal12ButtonText1']%></button>
    </div>
  </div>
  <!-- END PREVIEW ANNOUNCEMENT MODAL -->
  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
      <div class="caption">
        <i class="icon-earphones-alt font-purple-plum"></i>
        <span class="caption-subject bold font-purple-plum uppercase">
        <%=ENV_VARS['messages']['menu3']['title']%> </span>
        <span class="caption-helper"><%=ENV_VARS['messages']['menu3']['caption']%></span>
      </div>
      <div class="actions">
        <a href="#training_type_select_modal" data-toggle="modal" class="btn btn-sm green">
        <i class="fa fa-plus"></i> <%=ENV_VARS['messages']['menu3']['buttonText']%> </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <table class="table table-striped row-bordered table-hover" id="training_table">
            <thead>
              <th>
              </th>
              <th>
                <div class="caption font-purple-plum">
                  <span class="caption-subject bold uppercase"> <%=ENV_VARS['messages']['menu3']['table1Col1']%></span>
                </div>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu3']['table1Col2']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu3']['table1Col3']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu3']['table1Col4']%>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu3']['table1Col5']%>
              </th>
              <th>
                <!--Delete post-->
              </th>
              <th>
                <!-- sorted_at -->
              </th>
            </thead>
            <tbody id="training_table_body">
            </tbody>
          </table>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <table class="table table-striped row-bordered table-hover" id="safety_training_table">
            <thead>
              <th>
              </th>
              <th>
                <div class="caption font-purple-plum">
                  <span class="caption-subject bold uppercase"> <%=ENV_VARS['messages']['menu3']['table2Col1']%></span>
                </div>
              </th>
              <th>
                <%=ENV_VARS['messages']['menu3']['table2Col2']%>
              </th>
              <th width="130">
                <%=ENV_VARS['messages']['menu3']['table2Col3']%>
              </th>
            </thead>
            <tbody id="safety_training_table_body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row main-content-div">
    <div class="col-md-12">
      <div class="portlet light overlay">
        <div class="portlet-body">
          <div class="">
            <div class="overlay-text">
              <%=ENV_VARS['messages']['menu3']['footerMessage']%> <i class="icon-arrow-up font-purple-plum"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-md-12 col-sm-12" id="graph_div">

          </div>
          <div class="col-md-12 col-sm-12" id="preview_div">

          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-md-12 col-sm-12" id="engagement_div">

          </div>
          <div class="col-md-12 col-sm-12" id="statistic_div">

          </div>
          <div class="col-md-12 col-sm-12" id="participant_div">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger label label-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn blue start" disabled>
                    <i class="fa fa-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn red cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn red delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="fa fa-trash-o"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                    <button class="btn yellow cancel btn-sm">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
</script>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
<%= javascript_include_tag "dashboard_trainings" %>

<script>
var TrainingTable = $('#training_table');
var SafetyTrainingTable = $('#safety_training_table');

// DOM LOADING TABLE IMPL
var trainings_loaded = $.Deferred();
var safety_trainings_loaded = $.Deferred();

jQuery(document).ready(function() {
  var h = $( document ).height();
  $('#upload_youtube_training_modal').children('.scroller').height(Math.min(670, h*0.88));
  $('#upload_video_training_modal').children('.scroller').height(660, h*0.88);

  el = $('.main-content-div');
  App.blockUI({
    target: el,
    css: { top : '400px' },
    boxed: true,
    message: 'Loading...',
    overlayColor: '#223A44'
  });
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  QuickSidebar.init(); // init quick sidebar
  Demo.init(); // init demo features
  ChartsAmcharts.init(); // init demo charts
  TrainingModule.init();
  FormDropzone.init();
  ComponentsFormTools.init();

  return $.Deferred(function (def) {

    // resolve the passed def
    // this is the callback when i.e. users_loaded.resolve() is called
    $.when(trainings_loaded, safety_trainings_loaded).done(function() {
      Metronic.initUniform();
      def.resolve();
    });
  });
});


</script>