<%= stylesheet_link_tag "dashboard_users", :media => "all" %>
<input type="hidden" id="org_id" value="<%=cookies[:org_id]%>" />
<input type="hidden" id="user_id" value="<%=cookies[:user_id]%>" />
<input type="hidden" id="is_root" value="<%=cookies[:is_root]%>" />
<input type="hidden" id="is_admin" value="<%=cookies[:is_admin]%>" />
<input type="hidden" id="admin_location" value="<%=cookies[:user_location_id]%>" />
<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<input type="hidden" id="asset_root" value="<%=ENV['ASSET_ROOT']%>" />

<div class="page-content">
  <!-- START UPLOAD USER -->
  <!-- STEP 1 -->
  <div id="upload_user_select_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal1Title']%></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <a href="#upload_manual_entry_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-keyboard-o"></i>
              <div><%=ENV_VARS['messages']['menu6']['modal1subtitle1']%></div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <a href="#upload_excel_entry_modal" data-toggle="modal" class="icon-btn">
              <i class="fa fa-upload"></i>
              <div><%=ENV_VARS['messages']['menu6']['modal1subtitle2']%></div>
            </a>
          </div>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal1ButtonText1']%></button>
    </div>
  </div>

  <!-- STEP 2 -->
  <div id="upload_manual_entry_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <form class="upload_manual_entry_form" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal2Title']%></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu6']['modal2IEText1']%></label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="<%=ENV_VARS['messages']['menu6']['modal2PlaceholderText1']%>" name="newuserfname" id="new-user-fname" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu6']['modal2IEText2']%></label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="<%=ENV_VARS['messages']['menu6']['modal2PlaceholderText2']%>" name="newuserlname" id="new-user-lname" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu6']['modal2IEText3']%></label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="<%=ENV_VARS['messages']['menu6']['modal2PlaceholderText3']%>" name="newuseremail" id="new-user-email" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu6']['modal2IEText4']%></label>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="<%=ENV_VARS['messages']['menu6']['modal2PlaceholderText4']%>" name="newuserphone" id="new-user-phone" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu6']['modal2IEText5']%></label>
          <select name="newuserloc" id="new-user-loc" class="form-control select2"></select>
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9"><%=ENV_VARS['messages']['menu6']['modal2IEText6']%></label>
          <select name="newusergrp" id="new-user-grp" class="form-control select2"></select>
        </div>
      </div>  
      <div class="modal-footer">
        <button type="submit" class="btn btn-success"><%=ENV_VARS['messages']['menu6']['modal2ButtonText1']%></button>
        <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal2ButtonText2']%></button>
      </div>
    </form>
  </div>

  <!-- STEP 3 -->
  <div id="upload_excel_entry_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal3Title']%></h4>
    </div>
    <div class="modal-body">
      <div class="form-group row-icons">
        <a style="text-decoration: none;" href="https://s3.amazonaws.com/coffeemobile/user_upload_template.xlsx">
          <%= image_tag("https://s3.amazonaws.com/coffeemobile/here_icon.png", alt: "icon", class:"icon")%>
          <%= image_tag("https://s3.amazonaws.com/coffeemobile/excel_icon.png", alt: "icon", class:"icon")%>
          <%=ENV_VARS['messages']['menu6']['modal3InfoMessage1']%>
        </a>
      </div>
      <div class="form-group">
        <p>
          <span class="label label-danger">
          <%=ENV_VARS['messages']['menu6']['modal3InfoMessage2']%> </span>
          &nbsp; <%=ENV_VARS['messages']['menu6']['modal3InfoMessage3']%>
        </p>
        <form action="#" class="dropzone" id="user-import-excel-dropzone">
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal3ButtonText1']%></button>
      </div>
    </div>
  </div>
  <!-- END UPLOAD USER -->

  <!-- START PREP UPLOAD USER TABLE MODAL -->
  <div id="upload_excel_verify_modal" class="modal fade wide" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal4Title']%></h4>
    </div>
    <div class="modal-body">
      <table class="table table-striped row-bordered table-hover" id="mass_invite_table">
        <thead>
          <tr>
            <th>
               <%=ENV_VARS['messages']['menu6']['table2Col1']%>
            </th>
            <th>
            </th>
            <th>
               <%=ENV_VARS['messages']['menu6']['table2Col2']%>
            </th>
            <th>
               <%=ENV_VARS['messages']['menu6']['table2Col3']%>
            </th>
            <th>
               <%=ENV_VARS['messages']['menu6']['table2Col4']%>
            </th>
          </tr>
        </thead>
        <tbody id="mass_invite_table_body">
        
        </tbody>
      </table>
      <div class="progress progress-striped active display-hide" id="upload_progress">
        <div class="progress-bar progress-bar-info" id="mass_invite_progress_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          <span class="sr-only">
          <span id="mass_invite_progress_num"><%=ENV_VARS['messages']['menu6']['modal4Text1']%></span><%=ENV_VARS['messages']['menu6']['modal4Text2']%> <%=ENV_VARS['messages']['menu6']['modal4Text3']%> </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" onclick="UsersModule.processMassInvite();"><%=ENV_VARS['messages']['menu6']['modal4ButtonText1']%></button>
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal4ButtonText2']%></button>
    </div>
  </div>
  <!-- END PREP UPLOAD USER TABLE MODAL -->

  <!-- BEGIN UNIT NUMBER MODAL -->
  <div id="unit_number_modal" class="modal fade small" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal5Title']%></h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input class="form-control" placeholder="<%=ENV_VARS['messages']['menu6']['modal5PlaceholderText1']%>" id="add_unit_number" type="number" data-tabindex="1">
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" id="add-unit-number" class="btn blue"><%=ENV_VARS['messages']['menu6']['modal5ButtonText1']%></button>
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal5ButtonText2']%></button>
    </div>
  </div>
  <!-- END UNIT NUMBER MODAL -->

  <!-- BEGIN user_preview_modal MODAL -->
  <div id="user_preview_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal6Title']%></h4>
    </div>
    <div class="modal-body">
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal6ButtonText1']%></button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN user_edit_modal MODAL -->
  <div id="users_edit_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal7Title']%></h4>
    </div>
    <div class="modal-body">
      <div class="portlet light profile-sidebar-portlet">
        <div class="profile-usermenu">
          <form action="#" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-md-3"><%=ENV_VARS['messages']['menu6']['modal7subtitle1']%></label>
              <div class="col-md-9">
                <input type="hidden" id="edit_user_name_list" class="form-control select2" value="" height="300px">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3"><%=ENV_VARS['messages']['menu6']['modal7subtitle2']%></label>
              <div class="col-md-9">
                <select id="select4_location" class="form-control select2"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3"><%=ENV_VARS['messages']['menu6']['modal7subtitle3']%></label>
              <div class="col-md-9">
                <select id="select4_usergroup" class="form-control select2"></select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal7ButtonText1']%></button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN user_edit_modal MODAL -->
  <div id="invitees_edit_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal8Title']%></h4>
    </div>
    <div class="modal-body">
      <div class="portlet light profile-sidebar-portlet">
        <div class="profile-usermenu">
          <form action="#" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-md-3"><%=ENV_VARS['messages']['menu6']['modal8subtitle1']%></label>
              <div class="col-md-9">
                <input type="hidden" id="edit_invitee_name_list" class="form-control select2" value="" height="120px">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3"><%=ENV_VARS['messages']['menu6']['modal8subtitle2']%></label>
              <div class="col-md-9">
                <select id="select5_location" class="form-control select2"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3"><%=ENV_VARS['messages']['menu6']['modal8subtitle3']%></label>
              <div class="col-md-9">
                <select id="select5_usergroup" class="form-control select2"></select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal8ButtonText1']%></button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN user_preview_modal MODAL -->
  <div id="invitation_preview_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal9Title']%></h4>
    </div>
    <div class="modal-body">
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal9ButtonText1']%></button>
    </div>
  </div>
  <!-- END user_preview_modal MODAL -->

  <!-- BEGIN applicant_preview_modal MODAL -->
  <div id="applicant_preview_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal10Title']%></h4>
    </div>
    <div class="modal-body">
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal10ButtonText1']%></button>
    </div>
  </div>
  <!-- END applicant_preview_modal MODAL -->

  <!-- BEGIN bulk_edit_empty_modal MODAL -->
  <div id="bulk_edit_empty_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal11Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu6']['modal11InfoMessage1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal11ButtonText1']%></button>
    </div>
  </div>
  <!-- END bulk_edit_empty_modal MODAL -->

  <!-- BEGIN bulk_edit_empty_modal MODAL -->
  <div id="bulk_delete_empty_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%=ENV_VARS['messages']['menu6']['modal12Title']%></h4>
    </div>
    <div class="modal-body">
      <p><%=ENV_VARS['messages']['menu6']['modal12InfoMessage1']%></p>
    </div>  
    <div class="modal-footer">
      <button type="button" class="btn blue" data-dismiss="modal"><%=ENV_VARS['messages']['menu6']['modal12ButtonText1']%></button>
    </div>
  </div>
  <!-- END bulk_edit_empty_modal MODAL -->

  <!-- BEGIN STYLE CUSTOMIZER -->
  
  <!-- END STYLE CUSTOMIZER -->
  <!-- BEGIN PAGE HEADER-->
  
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row main-content-div" style="min-height: 500px;">
    <div class="col-md-12">
      <!-- BEGIN Portlet PORTLET-->
      <div class="portlet light" id="tabs">
        <ul class="nav nav-tabs nav-justified">
          <li class="active">
            <a href="#tab_users" data-toggle="tab" class="uppercase bold">
            <i class="icon-user"></i> <%=ENV_VARS['messages']['menu6']['tabTitle1']%></a>
          </li>
          <li>
            <a href="#tab_invitations" data-toggle="tab" class="uppercase bold">
            <i class="icon-user-follow"></i> <%=ENV_VARS['messages']['menu6']['tabTitle2']%></a>
          </li>
          <li>
            <a href="#tab_deactivated" data-toggle="tab" class="uppercase bold">
            <i class="icon-user-unfollow"></i> <%=ENV_VARS['messages']['menu6']['tabTitle3']%></a>
          </li>
        </ul>
        <div class="portlet-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab_users">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#upload_user_select_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText5']%> </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText6']%> <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="UsersModule.editUsers();">
                          <i class="fa fa-pencil"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText7']%> </a>
                        </li>
                        <li>
                          <a href="#" onclick="UsersModule.banUsers();">
                          <i class="fa fa-ban"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText8']%> </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped row-bordered table-hover" id="user_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input onclick="UsersModule.toggleAll(this);" id="select_all_users" type="checkbox" class="group-checkable" data-set="#user_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table1Col1']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table1Col2']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table1Col3']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table1Col4']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table1Col5']%>
                          </th>
                          <th>
                            <%=ENV_VARS['messages']['menu6']['table1Col6']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table1Col7']%>
                          </th>
                        </tr>
                      </thead>
                      <tbody id="user_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->

            </div>
            <div class="tab-pane" id="tab_invitations">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#upload_user_select_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText1']%> </a>
                    <div class="btn-group">
                      <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                      <i class="fa fa-cogs"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText2']%> <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#" onclick="UsersModule.editInvitees();">
                          <i class="fa fa-pencil"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText3']%> </a>
                        </li>
                        <li>
                          <a href="#" onclick="UsersModule.deleteInvitees();">
                          <i class="fa fa-ban"></i> <%=ENV_VARS['messages']['menu6']['buttonMenuText4']%> </a>
                        </li>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="full-height-content-body">
                    <table class="table table-striped row-bordered table-hover" id="invitee_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input id="select_all_invitees" onclick="UsersModule.toggleAll(this);" type="checkbox" class="group-checkable" data-set="#invitee_table_body"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table3Col1']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table3Col2']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table3Col3']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table3Col4']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table3Col5']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table3Col6']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table3Col7']%>
                          </th>
                        </tr>
                        </thead>
                      <tbody id="invitee_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
            </div>
            
            <div class="tab-pane" id="tab_groups">
              <div class="portlet">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#new_group_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="row" id="group_portlets">
                    <!--<div class="col-md-4 column" id="group_col_1">
                    </div>
                    <div class="col-md-4 column" id="group_col_2">    
                    </div>
                    <div class="col-md-4 column" id="group_col_3">
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_locations">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                  <div class="actions">
                    <a href="#new_location_modal" data-toggle="modal" class="btn btn-sm green">
                    <i class="fa fa-plus"></i> New </a>
                  </div>
                </div>
                <div class="portlet-body">
                <div class="full-height-content-body" id="height-marker">
                  <div class="row" id="location_portlets">
                    <div class="col-md-3 column" id="location_col">
                      
                    </div>
                    <div class="col-md-9 column">
                      <div id="location_map" class="location_map">
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_deactivated">
              <div class="portlet full-height-content full-height-content-scrollable">
                <div class="portlet-title">
                </div>
                <div class="full-height-content-body">
                  <div class="portlet-body">
                    <table class="table table-striped row-bordered table-hover" id="deactivated_table">
                      <thead>
                        <tr>
                          <th class="table-checkbox">
                            <input type="checkbox" class="group-checkable" data-set="#deactivated_table .checkboxes"/>
                          </th>
                          <th>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table4Col1']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table4Col2']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table4Col3']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table4Col4']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table4Col5']%>
                          </th>
                          <th>
                             <%=ENV_VARS['messages']['menu6']['table4Col6']%>
                          </th>
                        </tr>
                      </thead>
                      <tbody id="deactivated_table_body">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<!-- DAVID: This next line includes everything in the assets/javascripts/dashboard_users.js file -->
<%= javascript_include_tag "dashboard_users" %>

<script>
var UserTable = $('#user_table');
var InviteeTable = $('#invitee_table');
var DeactiveTable = $('#deactivated_table');
var ApplicantTable = $('#applicant_table');
var MassInviteTable = $('#mass_invite_table');

// DOM LOADING TABLE IMPL
var users_loaded = $.Deferred();
var invitees_loaded = $.Deferred();
var deactivated_loaded = $.Deferred();

$("#tabs").tabs({
    activate: function( event,ui ) {
        if(ui.newTab.context.hash == "#tab_users") {
          $("#select_all_users").parent().removeClass("checked");
          $("#select_all_users").prop("checked", false);
          $("#user_table_body").find('[type="checkbox"]').each(function() {
              $(this).parent().removeClass("checked");
              $(this).prop("checked", false);
          });
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_applications") {
          ApplicantTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_invitations") {
          $("#select_all_invitees").parent().removeClass("checked");
          $("#select_all_invitees").prop("checked", false);
          $("#invitee_table_body").find('[type="checkbox"]').each(function() {
              $(this).parent().removeClass("checked");
              $(this).prop("checked", false);
          });
          InviteeTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        } else if(ui.newTab.context.hash == "#tab_groups") {
          
        } else if(ui.newTab.context.hash == "#tab_locations") {
          UsersModule.initMap();
        } else if(ui.newTab.context.hash == "#tab_deactivated") {
          DeactiveTable.DataTable().columns.adjust().draw();
          Metronic.initUniform();
        }
    }
});


var el = null;
jQuery(document).ready(function() {
  el = $('.main-content-div');
  App.blockUI({
    target: el,
    boxed: true,
    message: 'Loading...',
    overlayColor: '#223A44'
  });
  //App.init();
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  var h = $('#height-marker').parent().height();
  document.getElementById("location_col").style.height = parseInt(h/1.1)+"px";
  document.getElementById("location_col").style.overflowY = "scroll";
  document.getElementById("location_map").style.height = parseInt(h/1.1)+"px";
  QuickSidebar.init(); // init quick sidebar
  Demo.init(); // init demo features
  UIToastr.init();
  UIExtendedModals.init();
  PortletDraggable.init();
  UsersModule.init();
  FormDropzone.init();

  return $.Deferred(function (def) {

    // resolve the passed def
    // this is the callback when i.e. users_loaded.resolve() is called
    $.when(users_loaded, invitees_loaded, deactivated_loaded).done(function() {
      Metronic.initUniform();
      def.resolve();
    });
  });
});
</script>


