<% provide(:title, 'Home') %>
<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
    <!-- BEGIN CONTAINER -->   
	<div class="fullwidthbanner-container section-top">
	    <div class="container">
			<div class="row padding-bottom-40">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-7 col-sm-7">
					<div class="row">
						<div class="col-md-10">
							<span class="hugetitle color-teal">
								<p>Connecting Your <br>Business From Every Angle.</p>
							</span>
						</div>
					</div>
					<div class="row title color-white">
						<div class="col-md-2">
							<%= image_tag("icons/checkmark.png", alt: "checkmark", class: "img-responsive") %>
						</div>
						<div class="col-md-8">
							Safety Courses
						</div>
					</div>
					<div class="row title color-white">
						<div class="col-md-2">
							<%= image_tag("icons/checkmark.png", alt: "checkmark", class: "img-responsive") %>
						</div>
						<div class="col-md-8">
							Workplace Training
						</div>
					</div>
					<div class="row title color-white">
						<div class="col-md-2">
							<%= image_tag("icons/checkmark.png", alt: "checkmark", class: "img-responsive") %>
						</div>
						<div class="col-md-8">
							Social Connectivity
						</div>
					</div>
					<div class="row title color-white">
						<div class="col-md-2">
							<%= image_tag("icons/checkmark.png", alt: "checkmark", class: "img-responsive") %>
						</div>
						<div class="col-md-8">
							Push Notifications
						</div>
					</div>
					<div class="row get-started">
						<div class=" col-md-12">
							<form action="/signup" method="GET" >
								<div class="col-md-5">
									<input type="text" placeholder="Email Address" name="email" class="form-control" />
								</div>
								<div class="col-md-1">
									<h3>></h3>
								</div>
								<div class="col-md-3">
									<input type="submit" value="Get Started >" class="form-control" />
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="row col-md-3 col-sm-3 subtitle color-white">
					<%= image_tag("slider/coffeemobile-home.png", alt: "hand", class: "img-responsive") %>
				</div>
			</div>
			
			
	        <div class="clearfix"></div>
	    </div>
	</div>
    <!-- END CONTAINER -->
	<!-- BEGIN GET STARTED -->
	<div class="fullwidthbanner-container padding-bottom-20">
	</div>
	<!-- END GET STARTED -->
    <!-- BEGIN CONTAINER -->   
	<div class="fullwidthbanner-container margin-top-20">
	    <div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<%= image_tag("hand.png", alt: "hand", class: "img-responsive") %>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="row col-md-10 col-sm-10">
						<span class="caption lft slide_huge_title_teal">
							<p>Safety First&trade; Industry Compliant Courses</p>
						</span>
					</div>
					<div class="row col-md-10 col-sm-10">
						<span class="heading color-black">
							<p>Bring peace of mind to management and engaging safety content to mobile. Get started and customize your corporate safety program today.</p>
						</span>
					</div>
					<div class="row color-teal text-center pull-left col-md-10 col-sm-10">
						<div class="col-md-4 col-sm-4 heading">
							<center><%= image_tag("icons/lock.png", alt: "lock", style: "max-width: 100px;") %></center>

							<span>Decrease<br>Liability</span>
						</div>
						<div class="col-md-4 col-sm-4 heading">
							<center><%= image_tag("icons/safety.png", alt: "safety", style: "max-width: 100px;") %></center>
							<span>Increase<br>Safety</span>
						</div>
						<div class="col-md-4 col-sm-4 heading">
							<center><%= image_tag("icons/report.png", alt: "umbrella", style: "max-width: 100px;") %></center>
							<span>Review<br>Reports</span>
						</div>
					</div>
				</div>
			</div>
	        <div class="clearfix"></div>
	    </div>
	</div>
    <!-- END CONTAINER -->

	<!-- BEGIN CONTAINER -->   
	<div class="fullwidthbanner-container section-training padding-bottom-40 padding-top-40">
	    <div class="container">
			<div class="row">
				<div class="col-md-1 col-sm-1">
				</div>
				<div class="col-md-5 col-sm-5">
					<div class="row col-md-11 col-sm-11">
						<span class="hugetitle color-white">
							<p>Procedures Training at Your Finger Tips</p>
						</span>
					</div>
					<div class="row col-md-11 col-sm-11 margin-bottom-40">
						<span class="heading color-white">
		                	<p>Distribute new video content to employees in seconds. Training on new products and procedures is now made simple.</p>
						</span>
					</div>
					<div class="row col-md-11 col-sm-11">
						<%= image_tag("slider/coffeemobile-training.png", alt: "Coffee Training", class: "img-responsive") %>
					</div>
				</div>
				<div class="row col-md-5 col-sm-5 subtitle color-white">
					<div class="col-md-1 col-sm-1">
					</div>
					<div class="col-md-11 col-sm-11">
						<table>
							<tr>
								<td>
									<%= image_tag("icons/play.png", alt: "play", class: "img-responsive") %>
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
									Distribute Video Content in seconds
								</td>
							</tr>
							<tr>
								<td span="2">
									<div class="row margin-bottom-10"></div>
								</td>
							</tr>
							<tr>
								<td>
									<%= image_tag("icons/convo.png", alt: "convo", class: "img-responsive") %>
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
									Create an engaging training experience
								</td>
							</tr>
							<tr>
								<td span="2">
									<div class="row margin-bottom-10"></div>
								</td>
							</tr>
							<tr>
								<td>
									<%= image_tag("icons/monitor.png", alt: "monitor", class: "img-responsive") %>
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
									Monitor staff results and compliance
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	        <div class="clearfix"></div>
	    </div>
	</div>
    <!-- END CONTAINER -->

	<!-- BEGIN GET STARTED -->
	<div class="fullwidthbanner-container padding-bottom-20">
	</div>
	<!-- END GET STARTED -->

	<!-- BEGIN CONTAINER -->   
	<div class="fullwidthbanner-container margin-top-20">
	    <div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<%= image_tag("showcase.png", alt: "showcase", class: "img-responsive") %>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="row col-md-10 col-sm-10">
						<span class="caption lft slide_huge_title_teal">
							<p>Build Culture Through Connectivity</p>
						</span>
					</div>
					<div class="row col-md-10 col-sm-10">
						<span class="heading color-black">
							<p>Communication at the workplace is essential. Stay connected with staff through chat, announcements, and news feed.</p>
						</span>
					</div>
					<div class="row color-teal text-center pull-left col-md-10 col-sm-10">
						<div class="col-md-4 col-sm-4 heading">
							<center><%= image_tag("icons/message.png", alt: "message", style: "max-width: 100px;") %></center>
							<span>Message<br>Coworkers</span>
						</div>
						<div class="col-md-4 col-sm-4 heading">
							<center><%= image_tag("icons/post.png", alt: "post", style: "max-width: 100px;") %></center>
							<span>Post<br>Announcements</span>
						</div>
						<div class="col-md-4 col-sm-4 heading">
							<center><%= image_tag("icons/reward.png", alt: "reward", style: "max-width: 100px;") %></center>
							<span>Reward<br>Performance</span>
						</div>
					</div>
				</div>

			</div>
	        <div class="clearfix"></div>
	    </div>
	</div>
    <!-- END CONTAINER -->
	<!-- BEGIN CONTAINER -->   
	<div class="fullwidthbanner-container section-pricing padding-bottom-40 padding-top-40">
	    <div class="container">
			<div class="row">
				<div class="col-md-1 col-sm-1">
				</div>
				<div class="col-md-5 col-sm-5">
					<div class="row col-md-10 col-sm-10 hugetitle color-white">
							<p>Custom Pricing to Fit Your Business.</p>
					</div>
					<div class="row col-md-11 col-sm-11 margin-bottom-40 title color-white">
	                	<div class="row margin-bottom-10">
							<table>
								<tr>
									<td class="col-md-4 col-sm-4">
										Culture
									</td>
									<td class="col-md-7 col-sm-7">
										<%= image_tag("icons/bar_culture.png", alt: "bar_culture", style: "max-height: 35px;") %>
									</td>
								</tr>
								<tr>
									<td class="col-md-4 col-sm-4">
										Training
									</td>
									<td class="col-md-7 col-sm-7">
										<%= image_tag("icons/bar_training.png", alt: "bar_training", style: "max-height: 35px;") %>
									</td>
								</tr>

								<tr>
									<td class="col-md-4 col-sm-4">
										Safety
									</td>
									<td class="col-md-7 col-sm-7">
										<%= image_tag("icons/bar_safety.png", alt: "bar_safety", style: "max-height: 35px;") %>								
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-1 col-sm-1">
				</div>
				<div class="col-md-5 col-sm-5">
					<div class="row col-md-8 col-sm-8 hugetitle color-white">
						<p>Monthly Per User Pricing.</p>
					</div>
					<div class="row col-md-11 col-sm-11 margin-bottom-40 title color-white">
	                	<div class="row margin-bottom-10">
							<table>
								<tr>
									<td class="col-md-2 col-sm-2">
										<%= image_tag("icons/$2.png", alt: "$2", style: "max-width: 35px;") %>
									</td>
									<td class="col-md-8 col-sm-8">
										Communication
									</td>
								</tr>
								<tr>
									<td class="col-md-2 col-sm-2">
										<%= image_tag("icons/$4.png", alt: "$4", style: "max-width: 35px;") %>
									</td>
									<td class="col-md-8 col-sm-8">
										Training
									</td>
								</tr>
								<tr>
									<td class="col-md-2 col-sm-2">
										<%= image_tag("icons/$6.png", alt: "$6", style: "max-width: 35px;") %>
									</td>
									<td class="col-md-8 col-sm-8">
										Safety
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

	        <div class="clearfix"></div>
	    </div>
	</div>
    <!-- END CONTAINER -->
	<!-- BEGIN GET STARTED -->
	<div class="fullwidthbanner-container get-started background-orange">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-sm-1">
				</div>
				<div class="col-md-7 col-sm-7 margin-top-20">
					<span class="title color-white">
						<p>Register for a 30 Day FREE Trial & Get Started Today.</p>
					</span>
				</div>
				<div class="col-md-4 col-sm-4">
					<form action="/signup" method="GET" >
						<input type="submit" value="Get Started >"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END GET STARTED -->
</div>
<!-- END PAGE CONTAINER -->
