<%= form_for(@post_type) do |f| %>
  <% if @post_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_type.errors.count, "error") %> prohibited this post_type from being saved:</h2>

      <ul>
      <% @post_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :base_type %><br />
    <%= f.text_field :base_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image_count %><br />
    <%= f.text_field :image_count %>
  </div>
  <div class="field">
    <%= f.label :includes_video %><br />
    <%= f.check_box :includes_video %>
  </div>
  <div class="field">
    <%= f.label :includes_event %><br />
    <%= f.check_box :includes_event %>
  </div>
  <div class="field">
    <%= f.label :includes_survey %><br />
    <%= f.check_box :includes_survey %>
  </div>
  <div class="field">
    <%= f.label :includes_shift %><br />
    <%= f.check_box :includes_shift %>
  </div>
  <div class="field">
    <%= f.label :includes_layover %><br />
    <%= f.check_box :includes_layover %>
  </div>
  <div class="field">
    <%= f.label :includes_schedule %><br />
    <%= f.check_box :includes_schedule %>
  </div>
  <div class="field">
    <%= f.label :includes_audio %><br />
    <%= f.check_box :includes_audio %>
  </div>
  <div class="field">
    <%= f.label :includes_url %><br />
    <%= f.check_box :includes_url %>
  </div>
  <div class="field">
    <%= f.label :includes_pdf %><br />
    <%= f.check_box :includes_pdf %>
  </div>
  <div class="field">
    <%= f.label :includes_safety_course %><br />
    <%= f.check_box :includes_safety_course %>
  </div>
  <div class="field">
    <%= f.label :allow_comments %><br />
    <%= f.check_box :allow_comments %>
  </div>
  <div class="field">
    <%= f.label :allow_likes %><br />
    <%= f.check_box :allow_likes %>
  </div>
  <div class="field">
    <%= f.label :allow_flags %><br />
    <%= f.check_box :allow_flags %>
  </div>
  <div class="field">
    <%= f.label :allow_delete %><br />
    <%= f.check_box :allow_delete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
