<div style="background:#f9f9f9;color:#373737;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:17px;line-height:24px;max-width:100%;width:100%!important;margin:0 auto;padding:0">
   <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:17px;color:#373737;background:#00bbc7;">
      <tbody>
         <tr>
            <td valign="top" style="border-collapse:collapse">
               <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                  <tbody>
                     <tr>
                        <td valign="bottom" style="border-collapse:collapse;padding:20px 16px 12px">
                           <div style="text-align:center">
                              <a href="https://coffeemobile.com" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">
                              <img src="https://www.myshyft.com/assets/img/main_logo.png" class="CToWUd" width="120px"></a>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td valign="top" style="border-collapse:collapse">
               <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                  <tbody>
                     <tr>
                        <td width="546" valign="top" style="border-collapse:collapse">
                           <div style="max-width:600px;margin:0 auto">
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px;text-align:center"><img src="https://s3.amazonaws.com/coffeemobileassets/status@2x.png" width="76" height="76" style="outline:none;text-decoration:none;width:76px" class="CToWUd"></p>
                              <h2 style="color:#3a3b3c;line-height:30px;margin-bottom:12px;margin:0 auto 0.75rem;font-size:1.8rem;text-align:center">
                                 Team's Weekly Summary For:
                              </h2>
                              <p style="text-align:center;">
                                 <b><%= @location[:location_name]%></b> <br />
                                 <%= @location[:address]%> <br />
                                 <%= @location[:city]%>, <%= @location[:province]%>, <%= @location[:post]%> <br />
                                 <%= @location[:country]%>
                              </p>
                              <h3 style="color:#3a3b3c;line-height:26px;margin-bottom:2rem;font-size:1.2rem;text-align:center;margin:0 auto 1rem"><%=@week_dates%></h3>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">Hope you had a good weekend! Here's a summary of what happened on your team last week:</p>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">
                                 Your team created a total of <strong><%=@msg_count + @post_count%> posts & messages</strong> last week (<%=@compare_msg%>).
                                 Of those,
                                 <strong><%=(@post_count.to_f / (@msg_count.to_f + @post_count.to_f) * 100).to_i%>% were in channels</strong>,  and <strong><%=(@msg_count.to_f/(@msg_count.to_f + @post_count.to_f) * 100).to_i%>% were direct messages</strong>.
                                 Your team also uploaded <strong><%=@schedule_count%> schedules</strong> (<%=@schedule_message%>).
                              </p>
                              
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">Looking for more stats? <a href="http://dashboard.coffeemobile.com" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">Check out our dashboard</a>, use your admin email to login. We will continue to improve and add more utility to the dashboard in the near future.</p>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                  <tbody>
                     <tr>
                        <td width="546" valign="top" style="border-collapse:collapse">
                           <div style="max-width:600px;margin:0 auto">
                              <h3 style="color:#3a3b3c;line-height:26px;margin-bottom:0;font-size:1.2rem;text-align:center;margin:0 auto 1rem">The most active member of your team last week was <%=@active_user.first_name + " " + @active_user.last_name%>, with <%=@active_msg+@active_post%> messages & posts. Nice work, <%=@active_user.first_name %> should get a reward *wink wink nudge nudge*</h3>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                  <tbody>
                     <tr>
                        <td width="546" valign="top" style="border-collapse:collapse">
                           <div style="max-width:600px;margin:0 auto">
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">
                                 <strong>Your team has <%=@admins.count%> admin(s):</strong>
                                 <%if @admins.count == 1%>
                                    <%@admins.each do |admin|%>
                                       <u><%=admin.first_name + " " + admin.last_name%></u>.
                                    <%end%>
                                 <%elsif @admins.count == 2%>
                                    <u><%=@admins[0].first_name + " " + @admins[0].last_name%></u> and <u><%=@admins[1].first_name + " " + @admins[1].last_name%></u>.
                                 <%else%>
                                    <%@admins[0..-3].each do |admin|%>
                                       <u><%=admin.first_name + " " + admin.last_name%></u>,
                                    <%end%>
                                    <u><%=@admins[-2].first_name + " " + @admins[-2].last_name%></u> and <u><%=@admins[-1].first_name + " " + @admins[-1].last_name%></u>.
                                 <%end%>
                                 In total there are <strong><%=@user_list.count%></strong> people on your team (that's not including <strong><%=@removed_user_list.count%></strong> disabled accounts).
                              </p>
                              <p>
                                 Remember: it's important to keep the list of owners and admins up to date since they control your team's settings.
                              </p>
                              <!--<p style="font-size:17px;line-height:24px;margin:0 0 16px">Your team is on <span class="il">Coffee Mobile</span>'s <strong>Free Plan</strong>, which is free for 75 users for an unlimited time. Interested in unlimited users access, upload training videos, pdfs, quizzes, and more? <a href="https://coffeemobile.com/pricing.html" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">Check out our paid plans</a> to learn all about it.</p>-->
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td style="border-collapse:collapse">
               <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;margin-top:1rem;background:white;color:#989ea6">
                  <tbody>
                     
                     <tr>
                        <td valign="top" align="center" style="border-collapse:collapse;padding:16px 8px 24px">
                           <div style="max-width:600px;margin:0 auto">
                              <p style="font-size:12px;line-height:20px;margin:0 0 16px;margin-top:16px">
                                 Made with love by <a href="https://coffeemobile.com" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank"><span class="il">Coffee</span> Software Design, Inc</a><br><a href="#14fefc8509da682e_" style="color:#989ea6;font-weight:normal;text-decoration:none;word-break:break-word">550 Queen Street East, Unit 350 &nbsp;•&nbsp; Toronto, ON &nbsp;•&nbsp; M5A 1V2</a>
                              </p>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
</div>