<%= stylesheet_link_tag "register_page", :media => "all" %>
<body class="login">
<!-- /.modal -->
<div class="modal fade bs-modal-sm" id="small" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Unit Number</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input class="form-control" placeholder="Unit Number" id="add_unit_number" type="number" data-tabindex="1">
				</div>
			</div>	
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" id="add-unit-number" class="btn blue">Add</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="/"><img src="https://s3.amazonaws.com/coffeemobile/logo-small.png" /></a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<input type="hidden" name="step" value="PIF" />
	<input type="hidden" id="code" value="<%=invite_url%>" />
	<input type="hidden" id="registration_type" value="<%=registration_type%>" />
	<input type="hidden" id="registration_email" value="<%=registration_email%>" />
	<form id="register-submit-form" method="post" novalidate="novalidate" style="display: none;">
		
	</form>
	<!-- BEGIN NAME -->
	<form class="personal-info-form">
		<h3>Profile Info</h3>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">First Name</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="First Name" name="firstname" id="firstname" />
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Last Name</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Last Name" name="lastname" id="lastname" />
		</div>
		<p class="hint">
			Your name is how you will appear to others in your network and let them know who you are.
		</p>
		<div class="form-group">
			<button type="submit" id="register-name-btn" class="btn btn-success uppercase pull-right">Next</button>
		</div>
	</form>
	<!-- END NAME -->

<!-- BEGIN PROFILE IMAGE -->
	<form class="upload-profile-form" method="post" style="display: none;">
		<h3>Profile Image</h3>
		<div class="form-group">
			<div class="fileUpload btn btn-primary">
  			<span>Upload Profile Image</span>
				<input class="upload" type="file" name="image_file" id="image_file"/>
			</div>
		</div>
		<p class="hint">
			A good profile image will get you noticed in your network.
		</p>
		<!--<div id="crop-profile-wrapper">
			<span class="icon-cloud-upload"></span><span> Profile Image</span>
			<img src="" id="crop-profile" class="img-responsive" />
		</div>-->
		<div id="image_input">
			<br />
			<span class="icon-cloud-upload"></span><span> Profile Image</span>
		</div>
		<img id="image_output" style="border:1px solid #000"/>
    <!-- hidden crop params -->
    <input type="hidden" id="x1" name="x1" />
    <input type="hidden" id="y1" name="y1" />
    <input type="hidden" id="x2" name="x2" />
    <input type="hidden" id="y2" name="y2" />

    <input type="hidden" id="filesize" name="filesize" />
    <input type="hidden" id="filetype" name="filetype" />
    <input type="hidden" id="filename" name="filename" />
    <input type="hidden" id="filedim" name="filedim" />
    <input type="hidden" id="w" name="w" />
    <input type="hidden" id="h" name="h" />
    <div class="cleardiv"></div>
    <br />
		<div class="form-group">
			<!--<button type="button" id="skip-profile-btn" class="btn btn-default">Skip</button>-->
			<button type="submit" id="register-profile-btn" class="btn btn-success uppercase pull-right">Next</button>
		</div>
	</form>
	<!-- END PROFILE IMAGE -->

	<!-- BEGIN NETWORK -->
	<form class="network-form" method="post" style="display: none;">
		<h3>Find Your Network</h3>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Network</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Network Name" name="networkname" id="networkname" autocomplete="off" />
		</div>
		<input type="hidden" id="new-network-id" value="" />
		<p class="hint">
			Create your own network if you do not belong to any existing one.
		</p>
		<div>
			<ul class="media-list" id="matches">
				
			</ul>
		</div>
		<div class="form-group">
			<!--<button type="submit" id="register-network-btn" class="btn btn-success uppercase pull-right disabled">Next</button>-->
		</div>
	</form>
	<!-- END NETWORK -->

	<!-- START WHITELIST -->
	<form class="whitelist-domain-form" style="display: none;">
		<h3>Email Domain</h3>
		<p>Adding an email domain to your network's whitelist can allow your team members to discover your network more easily. It is strongly recommended if you have an organizational email address.</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Email Domain</label>
			<div class="input-group">
				<span class="input-group-addon">
					@
				</span>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Email Domain" name="emaildomain" id="emaildomain" autocomplete="off" />
			</div>
		</div>
		<p class="hint" id="domain_error" style="color:#a94442; display: none;">
			The domain you entered belongs to a public email service, we cannot whitelist these domains.
		</p>
		<p class="hint" id="domain_invalid" style="color:#a94442; display: none;">
			The domain you entered is not valid, see below for example.
		</p>
		<p class="hint">
			For example: <span id="example_email_domain"></span>
		</p>
		<div>
			<ul class="media-list" id="matches">
				
			</ul>
		</div>
		<div class="form-group">
			<button type="button" id="skip-domain-btn" class="btn btn-default">Skip</button>
			<button type="submit" id="register-domain-btn" class="btn btn-success uppercase pull-right">Next</button>
		</div>
	</form>
	<!-- END WHITELIST -->

	<!-- START LOCATION -->
	<form class="location-form" style="display: none;">
		<h3 id="portland">Add Location</h3>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Location</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Location Address/Name" id="pac-input" name="locationname" />
			<div id="modal-unit-number" style="display: none;">
				<a data-toggle="modal" href="#small">+ Unit number</a>
			</div>
		</div>
		<p class="hint">
			Enter your location name or address, select from the dropdown to locate.
		</p>
		<div id="map-canvas" style="height: 188px;">
			
		</div>
		<div class="form-group">
		
		</div>
		<div class="form-actions">
			<!--<button type="button" id="skip-location-btn" class="btn btn-default">Skip</button>-->
			<button type="submit" id="register-location-btn" class="btn btn-success uppercase pull-right">Next</button>
		</div>
	</form>
	<!-- END LOCATION -->

	<!-- START LOCATION -->
	<form class="location-addendum-form" style="display: none;">
		<h3>Add Location</h3>
		<address>
			<strong><span id="add_line_1"></span></strong> 
			<br /><span id="add_line_2"></span>
			<br /><span id="add_line_3"></span>
			<br /><span id="add_line_4"></span>
		</address>
		<p class="hint">Some information is missing from the address we're able to pull from your input, you must enter them manually.</p>
		<div class="form-group" style="display: none">
      <label class="control-label visible-ie8 visible-ie9">Unit Number (optional)</label>
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Unit Number (optional)" name="unitnumber" id="unitnumber" />
    </div>
    <div class="form-group" style="display: none">
      <label class="control-label visible-ie8 visible-ie9">Street Number</label>
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Street Number" name="streetnumber" id="streetnumber" />
    </div>
    <div class="form-group" style="display: none">
      <label class="control-label visible-ie8 visible-ie9">Address</label>
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Address" name="address" id="address" />
    </div>
    <div class="form-group" style="display: none">
      <label class="control-label visible-ie8 visible-ie9">City</label>
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="City" name="city" id="city" />
    </div>
    <div class="form-group" style="display: none">
      <label class="control-label visible-ie8 visible-ie9">Province/State</label>
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Province/State" name="province" id="province" />
    </div>
    <div class="form-group" style="display: none">
      <label class="control-label visible-ie8 visible-ie9">Country</label>
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Country" name="country" id="country" />
    </div>
    <div class="form-group" style="display: none">
      <label class="control-label visible-ie8 visible-ie9">Postal/Zip Code</label>
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Postal/Zip Code" name="postal" id="postal" />
    </div>
		<div class="form-actions">
			<!--<button type="submit" id="register-skip-btn" class="btn btn-default">Skip</button>-->
			<button type="button" id="back-locationadd-btn" class="btn btn-default">Back</button>
			<button type="submit" id="register-locationadd-btn" class="btn btn-success uppercase pull-right">Next</button>
		</div>
	</form>
	<!-- END LOCATION -->

	<!-- START PASSWORD -->
	<form class="password-form" style="display: none;">
		<h3>Set Password</h3>
		<p>You will use your email address <strong><span id="email_password_example"></span></strong> and a password to sign in to Coffee.</p>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="password" placeholder="Password" name="password"/>
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
      <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="rpassword" placeholder="Re-type Your Password" name="rpassword"/>
    </div>
    <p class="hint">
      Please make sure you password a combination of characters, numbers and symbols of at least 6 characters long.
    </p>
		<div class="form-group">
			<button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Finish</button>
		</div>
	</form>
	<!-- END PASSWORD -->
</div>
<div class="copyright">
	 2014 © Coffee Enterprise. All Rights Reserved
</div>
<!-- END LOGIN -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script>
  var temp_img = null;
</script>
<%= javascript_include_tag "register_page" %>
<script>
var debug = true;
jQuery(document).ready(function() {     
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Register.init();
});
</script>
<!-- END JAVASCRIPTS -->
</body>
