<h1>Listing subscriptions</h1>
<%= link_to 'New Subscription', new_subscription_path %>
<br />
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>user</th>
      <th>channel</th>
      <th>nickname</th>
      <th>user alias</th>
      <th>sticky</th>
      <th>mute</th>
      <th>post</th>
      <th>display nickname</th>
      <th>last synchronize</th>
      <th>active</th>
      <th>valid</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.id %></td>
        <td><%= subscription.user_id %></td>
        <td><%= subscription.channel_id %></td>
        <td><%= subscription.subscription_nickname %></td>
        <td><%= subscription.subscription_my_alias %></td>
        <td><%= subscription.subscription_stick_to_top %></td>
        <td><%= subscription.subscription_mute_notifications %></td>
        <td><%= subscription.subscription_display_nicknames %></td>
        <td><%= subscription.subscription_last_synchronize %></td>
        <td><%= subscription.is_active %></td>
        <td><%= subscription.is_valid %></td>
        <td><%= link_to 'Show', subscription %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
