<h1>Listing safety_courses</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>url</th>
      <th>icon</th>
      <th>size</th>
      <th>folder</th>
      <th>version</th>
    </tr>
  </thead>

  <tbody>
    <% @safety_courses.each do |safety_course| %>
      <tr>
        <td><%= safety_course.id %></td>
        <td><%= safety_course.title %></td>
        <td><%= safety_course.url %></td>
        <td><%= safety_course.icon %></td>
        <td><%= safety_course.size %></td>
        <td><%= safety_course.folder %></td>
        <td><%= safety_course.version %></td>
        <td><%= link_to 'Show', safety_course %></td>
        <td><%= link_to 'Edit', edit_safety_course_path(safety_course) %></td>
        <td><%= link_to 'Destroy', safety_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Safety course', new_safety_course_path %>
