<p id="notice"><%= notice %></p>

<div class="field">
  <label>First Name</label>: <b><%= @user[:first_name] %></b>
</div>

<div class="field">
  <label>Last Name</label>: <b><%= @user[:last_name] %></b>
</div>

<div class="field">
  <label>User ID</label>: <b><%= @user[:id] %></b>
</div>

<div class="field">
  <label>Claim Channel ID</label>: <b><%= @channel[:id] %></b>
</div>

<div class="field">
  <label>Claim Channel Name</label>: <b><%= @channel[:channel_name] %></b>
</div>

<div class="field">
  <label>Claim Admin Email</label>: <b><%= @admin_claim[:email] %></b>
</div>

<div class="field">
  <label>Claim Date</label>: <b><%= @admin_claim[:created_at] %></b>
</div>

