<h1>Listing posts</h1>
<%= link_to 'New Subscription', new_post_path %>
<br />
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>user</th>
      <th>channel</th>
      <th>title</th>
      <th>content</th>
      <th>attachment_id</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.owner_id %></td>
        <td><%= post.channel_id %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.attachment_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
