<%
if Rails.env.production?
  @host = "http://api.coffeemobile.com"
elsif Rails.env.staging?
  @host = "http://staging.coffeemobile.com"
elsif Rails.env.testing?
  @host = "http://test.coffeemobile.com"
elsif Rails.env.dev?
  @host = "http://dev.coffeemobile.com"
else
  @host = "http://api.coffeemobile.com"
end
%>

<body>
  <p>Dear support team, an user has requested for admin access with an email address that we could not verify automatically. Please verify manually thanks!</p>
  <br />
  <label>Email Address</label>: <%= @email %>
  <br />
  <label>User ID</label>: <%= @user.id %>
  <br />
  <label>User Name</label>: <%= @user.first_name %> <%= @user.last_name %>
  <br />
  <label>Claim Code</label>: <%= @claim_id %>
  <br />
  <small><%= @host%>/admin_claim_search</small>
</div>
</body>
