<div class="page-content-wrapper">
    <div class="page-content">
      <div id="date-table-portlet" class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-green">
            <i class="fa fa-server"></i>
            <span class="caption-subject bold uppercase">Events</span>
          </div>
          <div class="tools">
            <%= link_to 'Back to Search', location_search_path %>
          </div>
        </div>
        <div class="portlet-body">
          <table id="event-table" class="table table-striped table-bordered table-hover dt-responsive">
            <thead>
              <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Members </th>
                <th> Address </th>
                <th> City </th>
                <th> State </th>
                <th> Zip </th>
                <th> Created On </th>
                <th> Details </th>
              </tr>
            </thead>
            <tbody>
              <% @locations.each do |location| %>
                <tr>
                  <td><%= location.id %></td>
                  <td><%= location.location_name %></td>
                  <td><%= location.member_count %></td>
                  <td><%= location.address %></td>
                  <td><%= location.city %></td>
                  <td><%= location.province %></td>
                  <td><%= location.postal %></td>
                  <td><%= location.created_at %></td>
                  <td><a href="/locations/list_members/<%=location.id%>" >List</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
