<div class="page-content-wrapper">
    <div class="page-content">
      <div id="date-table-portlet" class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-green">
            <i class="fa fa-server"></i>
            <span class="caption-subject bold uppercase">Location </span>
            <span class="caption-helper"><%=@location[:location_name] + " - " + @location[:address] %></span>
          </div>
          <div class="tools">
            <%= link_to 'Back to Search', location_search_path %>
          </div>
        </div>
        <div class="portlet-body">
          <table id="event-table" class="table table-striped table-bordered table-hover dt-responsive">
            <thead>
              <tr>
                <th> ID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Joined Location On </th>
                <th> Is Admin </th>
                <th> Account Created On </th>
                <th> Make Admin </th>
                <th> View User </th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td><%= member.owner_id %></td>
                  <td><%= member.user.first_name %></td>
                  <td><%= member.user.last_name %></td>
                  <td><%= member.created_at %></td>
                  <td><%= member.is_admin %></td>
                  <td><%= member.user.created_at %></td>
                  <td><a href="/locations/make_admin?member_id=<%=member.id%>&location_id=<%=member.location_id%>&user_id=<%=member.owner_id%>" >Make Admin</a></td>
                  <td><a href="/locations/<%=member.id%>/list_members" >Detail</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
