<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title><%= full_title(yield(:title)) %></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "cpanel", :media => "all" %>
  <%= javascript_include_tag "cpanel" %>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
	<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" class="page-header-fixed">
		<%= yield %>
	</body>
</html>